﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title pb-3">
    <div class="title_left" style="width:100% !important;">
        <h3>Vendors Module</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Vendor List</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtVendor" class="table jambo_table bulk_action dataTable no-footer" cancelmergeurl="@Url.Action("CancelMerge", "SEAN")"
                       mergeurl="@Url.Action("MergeVendor","SEAN")" url="@Url.Action("GetVendorList","SEAN")">
                    <thead>
                        <tr>
                            <th>Entity</th>
                            <th>Vendor Code</th>
                            <th>Company Name</th>
                            <th>Company Email</th>
                            <th>Contact No.</th>
                            <th>Company Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--- Modals -->

<div class="modal fade" id="modalViewVouchers" url="@Url.Action("ReleaseVoucher","ECREA")" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div style="width:1100px;" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong></strong></h4>
            </div>
            <div class="modal-body">
                <div class="container_collector_details" style="border-bottom:#ccc solid 1px;padding-bottom:30px;">
                    <h4 style="margin-top:3px;margin-bottom:17px;font-weight:600;">Collector's Details</h4>
                    <div style="display:flex; justify-content:space-around">
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorName">Collector Name:</label>
                            <input class="form-control" type="text" id="txtCollectorName" />
                        </div>
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorType">Collector Type:</label>
                            <select class="form-control" id="txtCollectorType">
                                <option value="AUTHORIZED">Authorized Collector</option>
                                <option value="THIRD PARTY">Third Party Collector</option>
                            </select>
                        </div>
                        <div style="display:none;flex:auto;">
                            <label for="txtThirdPartyCompany">Third Party Company:</label>
                            <input class="form-control" type="text" id="txtThirdPartyCompany" />
                        </div>
                    </div>

                </div>


                <div class="col-12" style="margin-top:20px !important; margin-bottom:20px !important;">
                    <table id="dtVoucher" class="table jambo_table bulk_action" url="@Url.Action("GetForReleasingVoucherList","SEAN")">
                        <thead>
                            <tr>
                                <th>Voucher Number</th>
                                <th>Entity</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Check Number</th>
                                <th>Check Date</th>
                                <th>Type</th>
                                <th>Receipt Number</th>
                                <th>Receipt Type</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnRelease" class="btn btn-primary">Release</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>

    
    <script src="@Url.Content("~/js/Page JS/checkcompany.js")"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
}
