﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <h3>Checks Ready for Release</h3>
                    </div>
                    <div>
                        <button style="margin-top:4px;" id="btnRelease" class="btn btn-danger">Release Selected Vouchers</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtPayment" class="table jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Entity</th>
                            <th>Vendor Code</th>
                            <th>Company</th>
                            <th>Bank</th>
                            <th>Voucher</th>
                            <th>Amount</th>
                            <th>Check</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSelectedVouchers" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div style="width:1100px;" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong class="title">Release Selected Vouchers</strong></h4>
            </div>
            <div class="modal-body" style="height:450px;overflow-y:auto;">
                <div class="container_collector_details" style="border-bottom:#ccc solid 1px;padding-bottom:30px;">
                    <div>
                        <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left txtReleasingDate" id="dtRelease" aria-describedby="inputSuccess2Status2">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                        </div>
                    </div>

                    <h4 style="margin-top:3px;margin-bottom:17px;font-weight:600;">Collector's Details</h4>
                    <div style="display:flex; justify-content:space-around">
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorName">Collector Name:</label>
                            <input class="form-control" type="text" id="txtCollectorName" />
                        </div>
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorType">Collector Type:</label>
                            <select class="form-control" id="txtCollectorType">
                                <option value="AUTHORIZED">Authorized Collector</option>
                                <option value="THIRD PARTY">Third Party Collector</option>
                            </select>
                        </div>
                        <div style="display:none;flex:auto;">
                            <label for="txtThirdPartyCompany">Third Party Company:</label>
                            <input class="form-control" type="text" id="txtThirdPartyCompany" />
                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-top:20px !important; margin-bottom:20px !important;">
                    <table id="dtVoucher" class="table jambo_table bulk_action" url="@Url.Action("GetForReleasingVoucherList","SEAN")">
                        <thead>
                            <tr>
                                <th>Entity</th>
                                <th>Bank</th>
                                <th>Voucher Number</th>
                                <th>Amount</th>
                                <th>Check Number</th>
                                <th>Check Date</th>
                                <th>Type</th>
                                <th>Receipt Number</th>
                                <th>Receipt Type</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnReleaseSelected" class="btn btn-primary">Release</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    #dtVoucher_wrapper .dataTables_length, #dtVoucher_wrapper .dataTables_filter {
        display: none;
    }
</style>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/date.format.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/js/jquery.doubleScroll.js")"></script>
    <script src="@Url.Content("~/js/Page JS/cl.js")"></script>
}