﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .page_title {
        padding-top: 55px !important;
        display: block;
        font-size: 26px;
        padding-bottom: 8px;
        padding-left: 2px;
    }

    video {
        background-color: #131315;
        border-radius: 2px;
    }

    .container_txt_btn {
            display: inherit;
            flex-direction: inherit;
            align-items: inherit;
            flex-grow: 1;
            justify-content: space-evenly;
    }

    .panel_title {
        font-weight: 500;
        font-size: 21px;
    }

    #txtAnnouncement {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 12px;
        border: 2px solid #ccc;
        font-size: 17px;
        font-weight: 500;
        background-color: #F1F1F1;
    }

    input[type=file] {
        padding-top: 4px;
        padding-left: 3px;
        border: solid 1px #ccc;
        margin-left: 6px;
        padding-bottom: 2px;
    }

    .video_container {
        display: flex;
        justify-content:space-around;
        padding-top: 34px;
        flex-wrap: wrap;
        border: solid 1px #ccc;
        border-radius: 5px;
        margin-top: 20px;
    }

    .div_video {
        background-color: #F1F1F1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 2px;
        margin-bottom: 26px;
        border: solid 1px #ccc;
    }

    .video_title {
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        margin-top: 15px;
        overflow-wrap: break-word;
    }

    .video_container .btn-danger {
        width: 110px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .title_container {
        width: 380px;
        text-align: center;
    }

    @@media only screen and (max-width: 768px) {
        .panel_title {
            width:100% !important;
        }

        .md-flex {
            flex-wrap:wrap;
        }

            .md-flex input[type=file] {
                width:210px !important;
                margin-left:0px !important;
            }

        video {
            width:80%;
            height:auto;
        }

        .div_video {
            background-color:white;
            border: unset !important;
        }

        .video_container {
            border:unset !important;
        }

        .right_col {
           background-color:white !important;
        }
    }
</style>


<h1 class="page_title" style="font-weight:600;">Queueing Window Management</h1>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="panel_title">Announcement Text <small style="font-weight:600;">modify text in marquee that goes from right to left. (max: 500)</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div style="display:flex; justify-content:center">
                    <textarea saveUrl="@Url.Action("SaveMarqueeText", "ECREA")" url="@Url.Action("GetMarqueeText", "ECREA")"  maxlength="500" id="txtAnnouncement" class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="panel_title">Kiosk Rating</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>
                    <input @if(ViewBag.IsKioskRatingActivated == true) { <text>checked</text>} type="checkbox" id="cbxActivateRating" class="flat"> Activate rating window in ECREA Kiosk
                </p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 class="panel_title">Advertisement Videos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form enctype="multipart/form-data" class="form-horizontal" method="post" autocomplete="off" id="frmUploadVideo" url="@Url.Action("SaveVideo")" novalidate>
                    <fieldset>
                        <div class="md-flex" style="display:flex;">
                            <label style="font-weight:500;font-size:17px;padding-top:2px;">Upload Video File :</label>
                            <div style="display:flex">
                                @Html.TextBox("videofile", "", new { type = "file", accept = ".mp4, .avi, .mov, .flv, .wmv", style="width: 360px;" })
                                <input type="button" id="btnUploadVideo" value="Upload" />
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="video_container" url="@Url.Action("GetVideoList","ECREA")" deleteUrl="@Url.Action("DeleteVideo", "ECREA")" source="@Url.Content("~/Queueing Window/Videos")/">
                </div>
                
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

@section scripts_source {
    <script src="@Url.Content("~/js/Page JS/management.js")"></script>
}
