﻿
<html>
<head>
    <title>Queing Window</title>
    <link rel="stylesheet" href=@Url.Content("~/css/QueueingWindow.css")>
</head>
<body url="@Url.Action("GetQueueList","ECREA")">
    <div class="top_bar">
        <label>SHAKEY'S ELECTRONIC CHECK RELEASING EXPRESS ASSIST</label>
    </div>
    <div class="main">
        <div class="left_area">
        </div>
        <div class="right_area">
            <div class="container_video" style="position:relative;height:50vh;">
                <div style="position:relative;">
                    <video id="video0" onended="PlayNext()" class='video_player' source="@Url.Content("~/Queueing Window/Videos")/" url="@Url.Action("GetVideoList","ECREA")" width="100%" height="100%" autoplay autobuffer controls></video>
                </div>
            </div>
            <div id="container_datetime">
                <div class="container_datetime date">
                    <label></label>
                </div>
                <div class="container_datetime time">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div url="@Url.Action("GetMarqueeText", "ECREA")" style="width:max-content;" id="txtAnnouncement">

        </div>
        @*<marquee id="txtAnnouncement" url="@Url.Action("GetMarqueeText", "ECREA")" scrollamount="10" width="100%" direction="left" height="100%">
        </marquee>*@
    </div>
    <div id="container_audio" style="display:none" deleteurl="@Url.Action("DeleteAudioWhenDone","ECREA")" getcallurl="@Url.Action("GetCall","ECREA")" source="@Url.Content("~/Queueing Window/TTS")/" url="@Url.Action("TTS", "ECREA")">

    </div>

    <audio id="beep_shakeys" volume="0.1" controls src="@Url.Content("~/Queueing Window/beep_shakeys.mp3")" style="display:none"></audio>
</body>
</html>

<script src="@Url.Content("~/js/home.bundle.js")"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="@Url.Content("~/js/marquee.js")"></script>
<script src="@Url.Content("~/js/date.format.js")"></script>
<script src="@Url.Content("~/js/jquery.textfill.min.js")"></script>
<script src="@Url.Content("~/js/browser.checker.js")"></script>
<script src="@Url.Content("~/js/Page JS/QueueWindow.js")"></script>
