﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .page_title {
        padding-top: 55px !important;
        display: block;
        font-size: 26px;
        padding-bottom: 8px;
        padding-left: 2px;
    }

    .panel-title {
        font-weight: 500;
        font-size: 21px;
        overflow: unset !important;
    }

    .row_action {
        width: 80px;
    }

    .container_collector_details label {
        font-size: 16px;
    }

    .priority_row {
        background: rgba(254,211,48, 0.4);
    }

    .regular_row {
        background: rgba(32,191,107, 0.3);
    }

    @@media only screen and (max-width: 768px) {
        .md-flex {
            flex-wrap:wrap;
        }

            .md-flex > div:nth-child(2) > div:nth-child(1), .md-flex > div:nth-child(2) > div:nth-child(2) {
                margin-left: 0px !important;
            }

            .md-flex > div:nth-child(2) {
                margin-top:2px;
                justify-content:space-between;
            }
    }
</style>

<h1 class="page_title">Vouchers List Ready for Release</h1>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="border: 1px solid #ccc">
            <div class="x_title">
                <div class="md-flex" style="display:flex;">
                    <div>
                        <h2 class="panel-title" style="margin-top:4px !important;">In Queue List</h2>
                    </div>
                    <div style="display:flex;">
                        <div style="margin-left:20px;margin-top:1px;">
                            <button queueType="REGULAR" class="btn btn-sm btn-primary btnCall">Call Regular Number</button>
                        </div>
                        <div style="margin-left:12px;margin-top:1px;">
                            <button queueType="PRIORITY" class="btn btn-sm btn-success btnCall">Call Priority Number</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtQueue" class="table jambo_table bulk_action" dequeueurl="@Url.Action("Dequeue", "ECREA")" queueurl="@Url.Action("Queue", "ECREA")" url="@Url.Action("GetQueueList", "ECREA")">
                    <thead>
                        <tr>
                            <th>Queue Number</th>
                            <th>Queue Type</th>
                            <th>Company Name</th>
                            <th>Collector Name</th>
                            <th>Collector Type</th>
                            <th>Third Party Company</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="row" style="margin-top:18px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="border: 1px solid #ccc;background-color:#efeaea;">
            <div class="x_title">
                <div style="display:flex; border-bottom: 2px solid #ccc;">
                    <div>
                        <h2 class="panel-title" style="margin-top:4px !important;">Dequeued List</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtDequeue" class="table jambo_table bulk_action" dequeueurl="@Url.Action("Dequeue", "ECREA")">
                    <thead style="background-color:#262626">
                        <tr>
                            <th>Queue Number</th>
                            <th>Queue Type</th>
                            <th>Company Name</th>
                            <th>Collector Name</th>
                            <th>Collector Type</th>
                            <th>Third Party Company</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div id="container_audio" style="display:none" source="@Url.Content("~/Queueing Window/TTS")/" url="@Url.Action("TTS", "ECREA")">
</div>

<div class="modal fade" id="modalViewVouchers" url="@Url.Action("ReleaseVoucher","ECREA")" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong></strong></h4>
            </div>
            <div class="modal-body">
                <div class="container_collector_details" style="border-bottom:#ccc solid 1px;padding-bottom:30px;">
                    <h4 style="margin-top:3px;margin-bottom:17px;font-weight:600;">Collector's Details</h4>
                    <div style="display:flex; justify-content:space-around">
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorName">Collector Name:</label>
                            <input class="form-control" type="text" id="txtCollectorName" />
                        </div>
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorType">Collector Type:</label>
                            <select class="form-control" id="txtCollectorType">
                                <option value="AUTHORIZED">Authorized Collector</option>
                                <option value="THIRD PARTY">Third Party Collector</option>
                            </select>
                        </div>
                        <div style="display:none;flex:auto;">
                            <label for="txtThirdPartyCompany">Third Party Company:</label>
                            <input class="form-control" type="text" id="txtThirdPartyCompany" />
                        </div>
                    </div>
                    
                </div>


                <div class="col-12" style="margin-top:20px !important; margin-bottom:20px !important;">
                    <table id="dtVoucher" class="table jambo_table bulk_action" url="@Url.Action("GetForReleasingVoucherList","SEAN")">
                        <thead>
                            <tr>
                                <th>Entity</th>
                                <th>Bank</th>
                                <th>Voucher Number</th>
                                <th>Amount</th>
                                <th>Check Number</th>
                                <th>Check Date</th>
                                <th>Type</th>
                                <th>Receipt Number</th>
                                <th>Receipt Type</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnRelease" class="btn btn-primary">Release</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
}

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Page JS/release.js")"></script>
}
