﻿@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    
}

.container_released_entity_chart {
    margin-top:7px;
}

.row_1, .row_2 {
    display: flex;
    justify-content: space-between;
}

.row_1 {
    margin-bottom: 1.2vw
}

#noQueueMsg {
    font-size: 20px;
    font-weight: 600;
    width: 36%;
    text-align: center;
    border: 1.5px #c7312f solid;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    margin-top:13px;
}

.voucher_status {
    color: #ecf0f1;
    border-radius: 2px;
    width: 32.3%;
    height: 75px;
    position: relative;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(171,154,152,1);
    -moz-box-shadow: 2px 3px 5px 0px rgba(171,154,152,1);
    box-shadow: 2px 3px 5px 0px rgba(171,154,152,1);
}

.voucher_status:hover, .lblstatus:hover, .lblcount:hover {
    cursor:pointer;
}

.lblcount {
    position: absolute;
    bottom: -5px;
    right: 21px;
    font-size: 27px;
}

.voucher_status .lblstatus {
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 15px;
}

label {
    font-weight:500 !important;
}

.container_queue_progress {
    margin-top:30px;
}

.container_released_chart .header h3, .container_voucher .header h3, .container_mail_log h3, .container_queue_progress h3 {
    margin-top: 7px;
    margin-bottom: 22px;
    font-size: 27px;
    font-weight: 500;
}

.container_released_chart .header h3, .container_queue_progress h3 {
    display: inline-block
}

.container_released_chart label, .container_queue_progress label {
    margin-left: 6px;
    font-size: 17px;
}

.container_released_chart {
    margin-top: 30px;
}

.container_released_entity_chart .content {
    display: flex;
    overflow-x: auto;
    align-items: center;
}

body {
    background: #F7F7F7 !important;
}

#tblRatings thead th {
    font-weight: 600 !important;
}

.container_released_entity_chart .header {
    text-align: center;
}

.container_released_entity_chart .header h3 {
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: black solid 1px;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 21px;
    font-weight: 500;
}

.container_released_entity_chart .chart-container {
    border: #6f6f6f solid 1px;
    padding-top: 10px;
    margin-bottom: 17px;
}

.container_mail_log {
    margin-top: 30px;
}

.container_mail_log div:first-child {
    display: flex;
}

.container_mail_log h3 {
    margin-top: 0px;
}

.container_mail_log div:first-child div:nth-child(2) {
    width:225px;
    margin-left:17px;
}

#cbxDate {
    font-weight: 600;
}

.container_mail_log .content {
    display:flex;
}

.container_mail_log .content div {
    width:50%;
}

@media only screen and (max-width: 768px) {
    .voucher_status {
        width:100%;
        margin-bottom:10px;
    }

    .row_1,.row_2 {
        flex-wrap:wrap;
    }
} 
