﻿/*.container_number_label {
    width: 25%;
}*/



.top_bar {
    height: 8%;
    margin-bottom: 0px;
    padding: 0;
    border: calc(.2vw + .2vh + .2vmin);
    display: table;
    width: 100%;
    text-align: center;
    background-color: #9F121F;
}

video {
    object-fit: fill;
}

.main {
    display: flex;
    height: 83%;
    flex-direction: row-reverse;
    justify-content: center;
}

.left_area {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.right_area {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    margin: 0;
    font-family: Trebuchet MS;
    height: 100%;
    width: 100%;
    background-color: white;
}

.title_number {
    display: flex;
    border-bottom: calc(.1vw + .1vh + .1vmin) solid #010101;
}

.title_number_type {
    width: 50%;
    text-align: center;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
}

.title_now_serving, .title_next_number {
    text-align: center;
    display: block;
}

.title_now_serving {
    padding-top: 2px;
    padding-bottom: 8px;
}

.number_now_serving, .number_next_serving {
    display: flex;
}

.title_next_number {
    padding-bottom: 13px;
}

.title_next_number label {
    font-size: calc(1.2vw + 1.0vh + 1.0vmin);
    border-bottom: calc(.2vw + .2vh + .2vmin) solid black;
    border-width: 3px;
    font-weight: 600;
}

.number_now_serving .number, .number_next_serving .number {
    width: 50%;
    text-align: center;
}

.number_next_serving .number {
    font-size: 8.2vh;
}

.number_now_serving {
    background: rgba(187,27,36, 0.1);
    border: solid calc(.07vw + .07vh + .07vmin) black;
}

    .number_now_serving .number:nth-child(1) {
        border-right: solid calc(.1vw + .1vh + .1vmin) black;
    }

.title_number_type:nth-child(1) {
    border-right: solid calc(.1vw + .1vh + .1vmin) black;
}

.container_video {
    margin-right: 20px;
    margin-left: 20px;
}

    .container_video div {
        height: 100%;
    }

.number_now_serving .companyName {
    font-size: calc(1vw + 1vh + 1.8vmin);
    width: 60%;
    text-align: center;
}

.companyName {
    word-wrap: break-word;
}

.number_next_serving .companyName {
    font-size: calc(1vw + 1vh + 1.0vmin);
    width: 70%;
    text-align: center;
}

.container_datetime {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 7%;
    text-align: center;
    display: table;
}

.title_number_type label {
    font-size: calc(1.3vw + 1.3vh + 2vmin);
    font-weight: bold;
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
}

.title_now_serving label {
    font-size: calc(1.3vw + 1.3vh + 1.3vmin);
    border-bottom: calc(.1vw + .1vh + .1vmin) double #cf000f;
    color: #cf000f;
    font-weight: 600;
}

.number {
    display: block;
    font-size: calc(2.5vw + 2.5vh + 2vmin);
    font-weight: bold;
}

.container_number {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.regularNum, .title_number_type.regular label {
    color: #1e824c;
}

.companyName {
    padding-top: 6px;
    padding-bottom: 6px;
}

.number_now_serving {
    margin-top: 8px;
    margin-bottom: 6px;
}

.priorityNum, .title_number_type.priority {
    color: #E08A1E;
}

.number_next_serving {
    padding-top: 7px;
    padding-bottom: 7px;
    background: rgba(178,190,195, 0.2);
}

iframe {
    padding: 10px 0;
    width: 100%;
}

.container_datetime.time {
    margin-top: 19px;
}

#container_datetime {
    display: flex;
    flex-direction: column;
}


.container_datetime label {
    font-size: 7vh;
    font-weight: bold;
}

.container_next_numbers {
    position: relative;
}

.vertical_line {
    border-left: calc(.12vw + .12vh + .12vmin) solid black;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: .1px;
    height: 99.99%;
    position: absolute;
}

.number_next_serving:nth-child(2), .number_next_serving:nth-child(3) {
    border-bottom: solid calc(.12vw + .12vh + .12vmin) black;
}

#txtAnnouncement {
    font-size: calc(1vw + 1vh + 2vmin);
    padding: 10px 0;
}

.top_bar label {
    font-size: calc(1vw + 1vh + 2vmin);
    font-weight: bold;
    padding: 6px 0;
    display: table-cell;
    color: #f5f6fa;
    vertical-align: middle;
}

@keyframes text-blink {
    100% {
        color: red;
    }
}

@keyframes border-blink {
    100% {
        border-color: red;
    }
}
