﻿<div class="form-horizontal form-label-left" id="frmChangePass" autocomplete="off" url="@Url.Action("AddUser","User")" novalidate>
    <div class="modal fade" id="modalChangePassword" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> <strong>Change Password</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="item form-group">
                        <label for="txtOldPassword" class="control-label col-md-3">Old Password</label>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <input id="txtOldPassword" type="password" name="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="txtNewPassword" class="control-label col-md-3">New Password</label>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <input id="txtNewPassword" type="password" name="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="txtNewPassword2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                        <div class="col-md-7 col-sm-9 col-xs-12">
                            <input id="txtNewPassword2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnChangePass" class="btn btn-primary">Change</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
