﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>TDIPS</title>

    <link rel="stylesheet" type="text/css" href="~/css/home.bundle.css">
    <link rel="stylesheet" type="text/css" href="~/css/HoldOn.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/switchery.min.css">

    @RenderSection("styles", required: false)

    <style>
        #custom_sidebar::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #custom_sidebar::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        #custom_sidebar::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #feca57;
        }

        .nav-md #custom_sidebar {
            overflow-y: auto;
        }
    </style>
</head>
<body style="overflow-x:hidden;" class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col main_sidebar">
                <div style="height:100vh;" id="custom_sidebar" class="left_col scroll-view">
                    <div>
                        <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/img/shakeys_logo2.png")" /></a>
                    </div>

                    <div class="clearfix"></div>

                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                @if (!User.IsInRole("AP"))
                                {
                                    <li>
                                        <a><i class="fa fa-folder"></i> SEAN <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a class="actual-link" href="@Url.Action("Payment", "SEAN")">Payment List</a></li>
                                            <li class="">
                                                <a>Vouchers<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none;">
                                                    @if (User.IsInRole("TREASURY STAFF"))
                                                    {
                                                        <li class="sub_menu"><a class="actual-link" href="@Url.Action("RequestVoucherForVerificationIndex", "SEAN")">Request for Verification</a></li>
                                                    }

                                                    @if (User.IsInRole("TREASURY STAFF"))
                                                    {
                                                        <li class="sub_menu"><a class="notifiable actual-link" type="DeclinedRequest" area="DECLINED" id="link-dvri" href="@Url.Action("DeclinedVerificationRequestsIndex", "SEAN")">Declined Requests  <span class="badge badge-warning"></span></a></li>
                                                    }

                                                    @if (User.IsInRole("TREASURY LEAD"))
                                                    {
                                                        <li><a class="notifiable actual-link" type="VerificationRequest" area="FOR VERIFICATION" href="@Url.Action("VerificationRequestsIndex", "SEAN")">Verification Requests <span class="badge badge-warning"></span></a></li>
                                                    }

                                                    @if (User.IsInRole("TREASURY LEAD") || User.IsInRole("TREASURY MANAGER"))
                                                    {
                                                        <li><a class="notifiable actual-link" type="ApprovalRequest" area="FOR APPROVAL" href="@Url.Action("ApprovalRequestsIndex", "SEAN")">Approval Requests <span class="badge badge-warning"></span></a></li>
                                                    }

                                                    <li><a class="notifiable actual-link" type="ReadyForReleasing" area="FOR RELEASING" href="@Url.Action("ForReleaseIndex", "SEAN")">For Release <span class="badge badge-warning"></span></a></li>
                                                    <li><a class="actual-link" type="ReadyForReleasing" area="" href="@Url.Action("CollectedChecks", "SEAN")">Collected Checks <span class="badge badge-warning"></span></a></li>
                                                    @if (User.IsInRole("TREASURY STAFF"))
                                                    {
                                                        <li><a class="actual-link" href="@Url.Action("RequestVoucherHold", "SEAN")">Put Voucher on Hold<span class="badge badge-warning"></span></a></li>
                                                    }
                                                    else if (User.IsInRole("TREASURY MANAGER"))
                                                    {
                                                        <li><a class="actual-link" href="@Url.Action("HoldRequests", "SEAN")">Voucher Hold Requests<span class="badge badge-warning"></span></a></li>
                                                    }

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a><i class="fa fa-exchange"></i> ECREA <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">

                                            <li><a class="actual-link" href="@Url.Action("QueueingWindow", "ECREA")" target="_blank">Queueing Window</a></li>
                                            @if (!User.IsInRole("AUDIT"))
                                            {
                                                <li><a class="actual-link" href="@Url.Action("Management", "ECREA")">Management</a></li>
                                                <li class="">
                                                    <a>Release<span class="fa fa-chevron-down"></span></a>
                                                    <ul class="nav child_menu" style="display: none;">
                                                        <li><a class="actual-link" href="@Url.Action("Release", "ECREA")">By In Queue List</a></li>
                                                        <li><a class="actual-link" href="@Url.Action("CheckCompany", "ECREA")">By Company List</a></li>
                                                        <li><a class="actual-link" href="@Url.Action("CheckList", "ECREA")">By Check List</a></li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-globe"></i> Online Payments <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @*<li><a class="actual-link" href="@Url.Action("General", "OnlinePayment")">General</a></li>*@
                                            <li><a class="actual-link" href="@Url.Action("Employees", "OnlinePayment")">Employees</a></li>
                                            @*<li><a class="actual-link" href="@Url.Action("Others", "OnlinePayment")">Others</a></li>*@
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-money"></i> Cashflow<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a class="actual-link" href="@Url.Action("DailyCashFlow", "Cashflow")">Daily Cashflow</a></li>
                                            <li><a class="actual-link" href="@Url.Action("ProjectionCashFlow", "Cashflow")">Cashflow Projections</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-print"></i> Report <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a class="actual-link" href="@Url.Action("Aging", "Report")">Aging</a></li>
                                            <li><a class="actual-link" href="@Url.Action("CollectedCheckReport", "Report")">Collected Checks</a></li>
                                        </ul>
                                    </li>
                                    if (!User.IsInRole("AUDIT"))
                                    {
                                        <li>
                                            <a><i class="fa fa-book"></i> Logs <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a class="actual-link" href="@Url.Action("Logs", "System")">System Logs</a></li>
                                                <li><a class="actual-link" href="@Url.Action("MailLogs", "System")">Mail Logs</a></li>
                                            </ul>
                                        </li>
                                    }

                                    <li>
                                        <a><i class="fa fa-money"></i>General Journal <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            @if (User.IsInRole("TREASURY MANAGER"))
                                            {
                                                <li><a class="actual-link" href="@Url.Action("Banks", "GeneralJournal")">Banks</a></li>
                                                <li><a class="actual-link" href="@Url.Action("UploadTool", "GeneralJournal")">Upload Transactions</a></li>
                                            }

                                            <li><a class="actual-link" href="@Url.Action("UnreleasedPayment", "GeneralJournal")">Unreleased Payments</a></li>
                                        </ul>
                                    </li>


                                }

                                @if (User.IsInRole("AP"))
                                {
                                    <li><a class="actual-link" href="@Url.Action("Index", "Invoice")"><i class="fa fa-file-text-o"></i> Invoice </a></li>
                                }

                                @if (!User.IsInRole("AUDIT"))
                                {
                                    if (!User.IsInRole("AP"))
                                    {
                                        <li>
                                            <a><i class="fa fa-group"></i>Other Modules <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a class="actual-link" href="@Url.Action("Vendor", "SEAN")">Vendor Module </a></li>
                                                <li><a class="actual-link" href="@Url.Action("Employee", "SEAN")">Employee Module </a></li>
                                                <li><a class="actual-link" href="@Url.Action("Index", "User")">User Module </a></li>
                                            </ul>
                                        </li>
                                    }

                                    <li>
                                        <a><i class="fa fa-table"></i> Excel Templates <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu last">
                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=invoice template">Invoice Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=checks template">Checks Template</a></li>
                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=employees template">Employees Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=online payments template">Online Payments (w/ Employees) Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=online payments template 2">Online Payments Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=payments template">Payments Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=receipts template">Receipts Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=select vouchers template">Select Vouchers Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=vendors template">Vendors Template</a></li>

                                            <li><a class="actual-link" href="@Url.Action("DownloadTemplate", "Home")?filename=vendor banks template">Vendor Banks Template</a></li>

                                        </ul>
                                    </li>

                                    @*if (!User.IsInRole("AP"))
                                    {
                                        <li><a class="actual-link" href="@Url.Action("Backup", "System")"><i class="fa fa-refresh"></i> Backup & Restore </a></li>
                                        <li><a class="actual-link" href="@Url.Action("SpecialAnnouncement", "Mail")"><i class="fa fa-envelope-o"></i> Special Announcement </a></li>
                                    }*@
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu" style="">
                    <nav style="width:100% !important;display:flex;justify-content:space-between;">
                        <div class="nav toggle" style="padding-top:0px !important;display:flex;width:730px;align-items:center;">
                            <div class="system_title_container" style="display:flex;align-items:center;">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                <h3 class="system_title" onclick="window.location.href='@Url.Action("Index","Home")'" style="color:#ECF0F1!important; font-size:21px !important; display:inline-block !important">Treasury Digital Information Payment System</h3>
                            </div>
                            @*<div></div>*@
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="account-dropdown">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-expanded="false">
                                    Current User : @User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="#" class="logout" onclick="$('#txtOldPassword').val(''),$('#modalChangePassword').modal()"><i class="fa fa-lock pull-right"></i>Change Password</a></li>
                                    <li><a href="@Url.Action("LogOff", "Account")" class="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    <li><span class="leave-dropdown-option" style="margin-bottom:10px !important;"><label class="text-danger" for="cbxLeave" style="padding-right:34px !important; cursor:pointer;">Set Account on Leave</label><input type="checkbox" id="cbxLeave" class="js-switch" /></span></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <input type="text" name="username" style="position:absolute;margin-top:-1000px;" />

                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_ChangePassPartial.cshtml");

    <!-- jQuery -->
    <script src="~/js/home.bundle.js"></script>
    <script src="~/js/Gentelella Template/custom.min.js"></script>
    <script src="@Url.Content("~/js/browser.checker.js")"></script>
    <script src="@Url.Content("~/js/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/js/HoldOn.min.js")"></script>
    <script src="@Url.Content("~/js/switchery.min.js")"></script>

    @RenderSection("scripts_source", required: false)

    <script>
        function GetNotifOnSidebar() {
            $.ajax({
                url: '@Url.Action("GetNotification", "SEAN")',
                type: 'GET',
                success: function (data) {
                    $('.notifiable').each(function (index, value) {
                        if (data[$(this).attr("type")] > 0) {
                                $(this).find("span").html(data[$(this).attr("type")]);
                            }

                        @*else {
                            $.ajax({
                                url: "@Url.Action("OpenNotification", "SEAN")?area=" + $(this).attr("area"),
                                type: 'GET'
                            })
                        }*@
                    });
                },
                complete: function (data) {
                    GetNotifOnSidebarTimeOut = setTimeout(GetNotifOnSidebar, 3000);
                }
            })
        }

        $(document).ready(function () {
            GetNotifOnSidebar();

            $(".notifiable.actual-link").click(function (e) {
                let url = $(this).attr("href");

                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("OpenNotification", "SEAN")?area=" + $(this).attr("area"),
                    type: 'GET',
                    complete: function () {
                        window.location.href = url;
                    }
                })
            })

            $.ajax({
                type: "GET",
                url: "@Url.Action("IsUserOnLeave", "User")",
                success: function (data) {
                    if (data == "TRUE") {
                        $("#cbxLeave").trigger("click");
                    }

                    $("span.switchery.switchery-small").click(function () {

                        $.ajax({
                            type: 'POST',
                            url: "@Url.Action("SetUsersLeaveStatus", "User")?isOnLeave=" + $("#cbxLeave").prop("checked")
                        })
                    })
                }
            })

            //these 2 events are for account dropdown so they won't close if you clicked inside it
            $(".user-profile").click(function () {
                $(this).parent().toggleClass('open');
            })

            $('body').on('click', function (e) {
                if (!$('.account-dropdown').is(e.target)
                    && $('.account-dropdown').has(e.target).length === 0
                    && $('.open').has(e.target).length === 0
                ) {
                    $('.account-dropdown').removeClass('open');
                }
            });

            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            $('.actual-link').each(function (index, value) {
                if (path.substring(0, ($(this).attr("href")).length) == $(this).attr("href")) {
                    $(this).addClass("active-link");
                }
            })

            $("#btnChangePass").click(function () {
                if ($("#txtOldPassword").val() == "" || $("#txtNewPassword").val() == "" || $("#txtNewPassword2").val() == "") {
                    swal({
                        title: "Please complete all inputs.",
                        icon: "error"
                    })
                } else if ($("#txtNewPassword").val() != $("#txtNewPassword2").val()) {
                    swal({
                        title: "New Password and Retyped Password Don't Match",
                        icon: "error"
                    })
                } else {
                    $.ajax({
                        url: "@Url.Action("ChangePassword", "Manage")",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify({
                            OldPassword: $("#txtOldPassword").val(),
                            NewPassword: $("#txtNewPassword").val(),
                            ConfirmPassword: $("#txtNewPassword2").val()
                        }),
                        success: function (data) {
                            if (data == "SUCCESS") {
                                swal({
                                    title: "Password Changed Successfully",
                                    icon: "success"
                                }).then(function () {
                                    document.location.reload();
                                });
                            } else {
                                swal({
                                    title: data.Errors[0],
                                    icon: "error"
                                })
                            }
                        }
                    })
                }
            })

            @RenderSection("script", required: false)
        })
    </script>
</body>
</html>
