﻿@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Users</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Users List</h2>
                <div class="nav navbar-right panel_toolbox">
                    <button type="button" id="btnAdd" class="btn btn-success mt-5">Add User</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtUser" class="table table-striped jambo_table bulk_action" url="@Url.Action("GetUsersList","User")">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal form-label-left" id="frmUser" autocomplete="off" url="@Url.Action("AddUser","User")" novalidate>
    <div class="modal fade" id="modalUser" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> <strong>Add User</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtUsername">
                            Username <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtUsername" class="form-control col-md-7 col-xs-12" name="name" required="required" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtUsertype">
                            User Type <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="usertype" id="txtUsertype" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,16" required="required">
                                <option value="">Choose user type</option>
                                <option value="TREASURY MANAGER">Treasury Manager</option>
                                <option value="TREASURY LEAD">Treasury Lead</option>
                                <option value="TREASURY STAFF">Treasury Staff</option>
                                <option value="AUDIT">Audit</option>
                                <option value="AP">AP</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEmail">
                            Microsoft Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtEmail" class="form-control col-md-7 col-xs-12" name="name" required="required" type="email">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="txtPassword" class="control-label col-md-3">Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtPassword" type="password" name="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label for="txtPassword2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtPassword2" type="password" name="password2" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAddUser" class="btnSubmit btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    @@media only screen and (max-width:768px) {
        .x_title .panel_toolbox {
            width: unset !important;
        }
    }
</style>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/Page JS/user.js")"></script>
}

