﻿@{
    ViewBag.Title = "Backup";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Backup & Restore</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row" style="margin-top:11px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <form enctype="multipart/form-data" method="post" id="frmUpload">
                    <fieldset>
                        <div style="display:flex;justify-content:space-between;">
                            <div>
                                <h2>Backup Schedule Options</h2>
                            </div>
                            <div class="input-group" style="width:50px;">
                                <span class="input-group-btn">
                                    <button style="height:31px;" type="button" id="btnUpload" class="btn btn-sm btn-success">Restore from my Computer</button>
                                </span>
                                <input type="file" name="FileUpload" required accept=".bak" class="input-sm">
                            </div>
                        </div>
                        


                        @*<div style="display:flex;margin-top:12px;margin-bottom:15px;">
                <div style="flex:auto;">
                    <label style="font-size:17px;" for="cbxRecurrence">Recurrence</label>
                    <select name="cbxRecurrence" id="cbxRecurrence" class="form-control">
                        <option>Daily</option>
                        <option>Weekly</option>
                    </select>
                </div>
            </div>*@
                    </fieldset>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="x_content">
                <table id="dtBackup" class="table jambo_table bulk_action dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Time of Backup</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:40% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-warning"><b>Confirmation Dialog <i class="fa fa-warning"></i></b></h4>
            </div>
            <div class="modal-body">
                <h5><b class="dialog-message">Please type your password to confirm.</b></h5>
                <div style="margin-top:15px;">
                    <input placeholder="" autocomplete="false" type="password" id="txtPassword" class="form-control" />
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAcceptRestore" class="btn btn-primary">Proceed and Restore</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }
</style>

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Page JS/backup.js")"></script>
}