﻿@{
    ViewBag.Title = "Logs";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3 style="margin-bottom:15px;">System Logs</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div style="margin-top:10px;">
                    <div style="width:60% !important; float:left;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="btnSearch" class="btn btn-sm btn-success"><i class="fa fa-search"></i> Search</button>
                            </span>
                            <input type="text" style="width: 200px" readonly="readonly" id="dtrSearch" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy")">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtLogs" class="table table-striped jambo_table bulk_action" url="@Url.Action("GetSystemLogsList","System")">
                    <thead>
                        <tr>
                            <th>Date/Time</th>
                            <th>User</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/Page JS/logs.js")"></script>
}
