﻿@{
    ViewBag.Title = "MailLogs";
}

<div class="page-title pb-3">
    <div class="title_left" style="width:100% !important;">
        <div style="display:flex;justify-content:space-between;">
            <h3 style="margin-bottom:19px;">Mail Logs</h3>
            <div class="input-group" style="margin-top:10px;width:50px;">
                <span class="input-group-btn">
                    <button id="btnSearch" class="btn btn-sm btn-success"><i class="fa fa-search"></i> Search</button>
                </span>
                <input type="text" style="width: 200px" readonly="readonly" id="dtrSearch" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.AddDays(1).ToString("MM/dd/yyyy")">
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4 style="font-size:22px;" id="statusMsg"></h4>
                <div id="containerprogress"></div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtMailLogs" urlstatus="@Url.Action("TrackMailStatus","System")" class="table table-striped jambo_table bulk_action" url="@Url.Action("GetMailLogsList","System")">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .progressbar-text {
        color: rgb(153, 153, 153) !important;
        position: relative !important;
        text-align: right !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        color: #252323 !important;
    }
</style>


@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
}

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/progressbar.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/Page JS/maillogs.js")"></script>
}