﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }
</style>

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Invoices</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
                <fieldset>
                    <div class="x_title">
                        <div class="clearfix"></div>
                        <div style="display:flex;justify-content:space-between;flex-wrap:wrap;">
                            <h2>Invoice List</h2>
                            <div style="display:flex;">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button style="height:31px;" type="button" id="btnUploadExcel" class="btn btn-sm btn-danger">Upload</button>
                                    </span>
                                    <div style="position:relative;" class="file_upload_container">
                                        <input type="file" id="file_upload" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
            <div class="x_content">
                <table id="dtInvoice" class="table jambo_table bulk_action dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Old Invoice No</th>
                            <th>New Invoice No</th>
                            <th>Modified By</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
}

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Page JS/invoice.js")"></script>
}