﻿

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Bank Accounts</h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
                    <fieldset>
                        <h2>Bank Accounts List</h2>
                        <div class="nav navbar-right panel_toolbox">
                            <div class="md-flex" style="display:flex;">
                                <div class="input-group" style="margin-right:6px;width:50px;">
                                    <span class="input-group-btn">
                                        <button style="height:31px;" type="button" id="btnUploadExcel" class="btn btn-sm btn-success">Upload</button>
                                    </span>
                                    <input type="file" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtBank" class="table jambo_table bulk_action dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Acc No</th>
                            <th>Acc Name</th>
                            <th>Acc Type</th>
                            <th>Store</th>
                            <th>Department</th>
                            <th>Business Unit</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }
</style>


@section scripts_source{
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Page JS/gjbank.js")"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
}