﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Unreleased/Uncollected Payments</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
                <div style="display:flex;justify-content:space-between;flex-wrap:wrap;">
                    <div>
                        <button type="button" onclick="ShowGJModal();" style="height:30px;" class="btn btn-sm btn-primary"><i class="fa fa-book"></i>  Post General Journal</button>
                    </div>
                </div>

            </div>
            <div class="x_content">
                <table id="dtGJ" class="table jambo_table bulk_action dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGJ" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:80%;left:50%;margin-left:-40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong class="title">Excel Uploaded Summary</strong></h4>
            </div>
            <div class="modal-body" style="height:460px; overflow-y:auto;">
                <div style="display:flex;margin-bottom:25px;justify-content:space-around;">
                    <div style="width:48%;">
                        <div>
                            <label>Entity:</label>
                            <select id="txtEntity" class="form-control">
                                <option value="" disabled>Please choose an entity</option>
                                <option selected value="SPAV">SPAV</option>
                                <option value="SPCI">SPCI</option>
                                <option value="WBHI">WBHI</option>
                                <option value="NAF">NAF</option>
                                <option value="SIL">SIL</option>
                                <option value="SSI">SSI</option>
                                <option value="SPRF">SPRF</option>
                            </select>
                        </div>
                        <div style="display:flex;margin-top:10px;">
                            <div style="margin-right:10px;">
                                <label>Month:</label>

                                <select id="txtMonth" class="form-control">
                                    <option value="" hidden>Please select month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div>
                                <label>Year:</label>

                                <select id="txtYear" class="form-control">
                                    <option>Please Select Year</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div style="width:48%;">
                        <div>
                            <label>Notes/Description</label>
                            <textarea id="txtDescription" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </div>

                <table id="dtViewGJ" class="table jambo_table bulk_action dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Voucher Num</th>
                            <th>Account Type</th>
                            <th>Account</th>
                            <th>Department</th>
                            <th>Business Unit</th>
                            <th>Purpose</th>
                            <th>Transdate</th>
                            <th>TXT/Document</th>
                            <th>Credit</th>
                            <th>Offset Account Type</th>
                            <th>Offset Account</th>
                            <th>Posting Profile</th>
                            <th>Due Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ClickPostUnreleasedGJEntries()" class="btn btn-default btn-primary">Verify and Post to D365</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .eod-total {
        margin-bottom: 45px;
    }

        .eod-item h4, .eod-total h4 {
            font-weight: 600;
        }

    #dtBatches td:nth-child(2), #dtBatches th:nth-child(2) {
        display: none;
    }

    #no-data-msg {
        text-align: center;
    }

        #no-data-msg h3 {
            font-size: 25px;
            font-weight: 600;
            margin-top: 110px;
        }

    .swal-button--close {
        background-color: #EFEFEF;
        color: #555555;
    }

        .swal-button--close:hover {
            background-color: #E8E8E8 !important;
        }

    @@media only screen and (max-width:768px) {
        .page-title .title_left {
            width: 100% !important;
        }

        #frmUploadExcel h2 {
            width: 100% !important;
        }
    }

    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }

    .input-group-btn .btn {
        padding-bottom: 6px;
    }

    .d-none {
        display: none;
    }

    .account-details div {
        margin-top: 10px;
    }

    .account-details text {
        font-weight: 600;
    }

    .eod-item:not(:first-of-type) {
        margin-top: 25px;
    }
</style>


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/lodash.min.js")"></script>

    <script>
        const dateToday = new Date(@DateTime.Now.Year , (@DateTime.Now.Month - 1) , @DateTime.Now.Day );

    </script>

    <script src="@Url.Content("~/js/Page JS/gj-unreleased-payment.js")"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}
