﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title pb-3">
    <div class="target"></div>

    <div class="title_left">
        <h3>Special Announcement</h3>

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div style="display:flex;justify-content:space-between">
                    <div>
                        <h2>Mail Composer</h2>
                    </div>
                    <div>
                        <button class="btn btn-success" onclick="LoadDrafts()">
                            <i class="fa fa-folder-open"></i> Drafts
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="subject_container" style="margin-bottom:15px;">
                    <div>
                        <label style="font-size:15px;">Subject:</label>
                    </div>
                    <div>
                        <input maxlength="200" autocomplete="off" id="txtSubject" type="text" class="form-control form-control-sm" />
                    </div>
                </div>
                <div id="body_container">
                    <div>
                        <label style="font-size:15px;">Body:</label>
                    </div>
                    <textarea id="summernote">

                    </textarea>
                </div>

                <div style="text-align:right;">
                    <button class="btn btn-danger" style="display:none;" id="btnSaveDraft" onclick="SaveDraft(this)">
                        <span class='fa fa-warning'></span> Save to Draft
                    </button>
                    <button class="btn btn-primary" onclick="SendingOptions()"><i class="fa fa-send"></i> Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDrafts" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Drafts</strong></h4>
            </div>
            <div class="modal-body" style="max-height:450px;overflow-y:auto;">
                <table id="dtDrafts" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Date Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAddUser" class="btnSubmit btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSend" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Sending Options</strong></h4>
            </div>
            <div class="modal-body" style="max-height:450px;overflow-y:auto;">
                <div id="options_container">
                    <div style="display:flex;margin-bottom:10px;">
                        <div style="display:flex;align-items:center;font-size:14px;font-weight:600;margin-right:15px;">
                            <input id="isIncludeCollectors" style="margin-top:0px;margin-right:4px;" type="checkbox" /> Include Collectors
                        </div>

                        <div style="display:flex;align-items:center;font-size:14px;font-weight:600;">
                            <input id="isSaveToDraft" style="margin-top:0px;margin-right:4px;" type="checkbox" /> Save to Draft
                        </div>
                    </div>
                </div>

                <div id="files_container" style="margin-top:20px;">
                    <h4 style="font-size:15px;font-weight:600">Attachments</h4>
                    <input type="file" />
                </div>

                <div style="margin-top:20px;" id="recipients_container">
                    <h4 style="font-size:15px;font-weight:600">Recipients</h4>
                    <table id="dtVendor" class="table jambo_table bulk_action dataTable no-footer">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" id="cbxSelectAll" /></th>
                                <th>Entity</th>
                                <th>Vendor Code</th>
                                <th>Company Name</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="SendMail();" class="btnSubmit btn btn-primary"><i class="fa fa-send"></i> Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/filepond.js")"></script>
    <script src="@Url.Content("~/Summer Note/summernote.min.js")"></script>

    <script src="@Url.ContentVersioned("~/Scripts/Page JS/sa.js")"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="@Url.Content("~/css/filepond.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Summer Note/summernote.min.css")" rel="stylesheet" type="text/css" />
    <style>
        .dataTables_filter, .dataTables_info {
            display: none;
        }

        .select-checkbox {
            width: 10px;
        }

        .note-group-select-from-files {
            display: none;
        }

        .filepond--root {
            font-size: 1.4rem;
            font-weight: 500;
        }

        .filepond--file {
            background-color: #0f9046 !important;
        }

        .filepond--drop-label.filepond--drop-label label {
            font-weight: 600 !important;
            color: #333333 !important;
        }
    </style>

}
