﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Cash Flow Projections</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
                <fieldset>
                    <div class="x_title">
                        <div class="clearfix"></div>
                        <div style="display:flex;justify-content:space-between;flex-wrap:wrap;">
                            @*<div style="display:flex">
                                    <div>
                                        <div class="input-group" style="width:110px;">
                                            <span class="input-group-btn">
                                                <button id="btnSearch" type="button" style="height:30px;" class="btn btn-sm btn-danger"><i class="fa fa-search"></i> Search</button>
                                            </span>
                                            <input type="text" style="width: 200px" readonly="readonly" id="dtrSearch" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy")">
                                        </div>
                                    </div>
                                    <div style="margin-left:10px;">
                                            <button type="button" id="btnExport" class="btn btn-success btn-sm"><i class="fa fa-table"> </i> Export</button>
                                        </div>
                                </div>*@
                            @if (!User.IsInRole("AUDIT"))
                            {
                                <div>
                                    <div style="display:flex;justify-content:flex-end;">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnUploadExcel" class="btn btn-sm btn-danger">Upload</button>
                                            </span>
                                            <div style="position:relative;" class="file_upload_container">
                                                <input type="file" id="file_upload" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                </fieldset>
            </form>
            <div class="x_content">
                <table id="dtCF" class="table jambo_table bulk_action dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Date of Upload</th>
                            <th>Uploaded By</th>
                            <th>Daily Cashflow Date Range</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .swal-button--close {
        background-color: #EFEFEF;
        color: #555555;
    }

        .swal-button--close:hover {
            background-color: #E8E8E8 !important;
        }

    @@media only screen and (max-width:768px) {
        .page-title .title_left {
            width: 100% !important;
        }

        #frmUploadExcel h2 {
            width: 100% !important;
        }
    }

    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }

    .input-group-btn .btn {
        padding-bottom: 6px;
    }

    .d-none {
        display: none;
    }
</style>


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/Page JS/dailycashflow.js")"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
}
