﻿@{ Layout = "~/Views/Shared/_HomeLayout.cshtml"; }


<div class="x_content">
    <div class="container_dashboard">
        <div class="container_voucher">
            <div class="header">
                <h3>Voucher Status Logs</h3>
            </div>
            <div class="content">
                <div class="row_1">
                    <div class="voucher_status" style="background-color:#2c3e50" onclick="window.location.href='/SEAN/Payment?status=unreleased'" id="unreleased">
                        <label class="lblstatus">Unreleased</label>
                        <label class="lblcount"></label>
                    </div>
                    <div class="voucher_status"
                         @if (User.IsInRole("TREASURY LEAD")) { <text> onclick="window.location.href='/SEAN/VerificationRequestsIndex'" </text>  } else { <text> onclick="window.location.href='/SEAN/Payment?status=for verification'" </text> }
                         style="background-color:#d63031" id="for_verification">
                        <label class="lblstatus">For Verification</label>
                        <label class="lblcount"></label>
                    </div>
                    <div class="voucher_status"
                         @if (User.IsInRole("TREASURY MANAGER")) { <text> onclick="window.location.href='/SEAN/ApprovalRequestsIndex'" </text>  } else { <text> onclick="window.location.href='/SEAN/Payment?status=for approval'" </text> }
                         style="background-color:#b12a25" id="for_approval">
                        <label class="lblstatus">For Approval</label>
                        <label class="lblcount"></label>
                    </div>
                </div>
                <div class="row_2">
                    <div class="voucher_status" onclick="window.location.href='/SEAN/ForReleaseIndex'" style="background-color:#16a085" id="for_releasing">
                        <label class="lblstatus">For Releasing</label>
                        <label class="lblcount"></label>
                    </div>
                    <div class="voucher_status" onclick="window.location.href='/SEAN/CollectedChecks'" style="background-color:#27ae60;" id="released">
                        <label class="lblstatus">Released</label>
                        <label class="lblcount"></label>
                    </div>
                    <div class="voucher_status" onclick="window.location.href='/SEAN/Payment?status=uncollected'" style="background-color:#f39c12;" id="uncollected">
                        <label class="lblstatus">Uncollected</label>
                        <label class="lblcount"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container_queue_progress">
        <div class="header">
            <h3>Queueing Progress</h3> <label>( As of Today )</label>
        </div>

        <div class="content">
            <canvas style="display:none;" id="queueChart" width="400" height="150"></canvas>
            <div style="display:none;" id="noQueueMsg">No Current Queue</div>
        </div>
    </div>

    <div class="container_released_chart">
        <div class="header">
            <h3>Released Vouchers</h3> <label>( past 4 weeks )</label>
        </div>

        <div class="chart-container">
            <canvas id="myChart" width="400" height="150"></canvas>
        </div>
    </div>

    <div class="container_released_entity_chart">
        <div class="header">
            <h3>Total Amount by Entities </h3>
        </div>

        <div class="content">

        </div>
    </div>

    <div class="container_ecrea_ratings" style="margin-top:40px;">
        <div class="header">
            <h3>ECREA Latest Ratings </h3>
        </div>

        <div class="content">
            <div style="display:flex">
                <div style="width:40%">
                    <canvas id="chart-area" style="display: block; width: 540px; height: 270px;" width="540" height="270" class="chartjs-render-monitor"></canvas>
                </div>
                <div style="width:60%;">
                    <table class="table table-striped table-bordered" id="tblRatings">
                        <thead>
                            <tr>
                                <th>Collector Name</th>
                                <th>Vendor Code</th>
                                <th>Is Satisfied?</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container_mail_log">
        <div class="header">
            <div>
                <h3>Mail Logs</h3>
            </div>
            <div>
                <select id="cbxDate" class="form-control"></select>
            </div>
        </div>

        <div class="content">
            <div id="email_log"><canvas id="emailChart" width="400" height="250"></canvas></div>
            <div id="sms_log"><canvas id="smsChart" width="400" height="250"></canvas></div>
        </div>
    </div>

</div>


@section styles {
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")" />
}

@section scripts_source {
    <script src="@Url.Content("~/js/Chart.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Page JS/home.js")"></script>
}
