﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<li><a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a></li>