﻿@using TDIPS.Models
@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TDIPS Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/bootstrap2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/icon-font.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/animate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/hamburgers.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/animsition.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/util.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/Login/main.css")">
</head>
<body style="background-color: #666666;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form ReturnUrl="@ViewBag.ReturnUrl" method="post" class="login100-form validate-form" id="frmLogin" autocomplete="off">

                    <span class="login100-form-title p-b-43">
                        Login to continue
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", autocomplete = "off", id = "txtEmail", required = "required" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.Password, new { @class = "input100", id = "txtPassword", required = "required" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div style="margin-bottom:23px;margin-top:20px;">
                        <input class="input-checkbox100" id="cbxRemember" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="cbxRemember">
                            Remember me
                        </label>
                    </div>


                    <div class="container-login100-form-btn">
                        <input type="submit" value="LOGIN" class="login100-form-btn" />
                    </div>

                    <div class="login100-form-social flex-c-m text-center" style="margin-top:28px;">
                        <a href="@Url.Action("MicrosoftLogin", "Account")" style="text-decoration: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="60%" height="13.2%" viewBox="0 0 3278 522" class="SignInButton">
                            <style type="text/css">
                                .login100-form-social:hover {
                                    cursor: pointer;
                                }

                                .fnt0 {
                                    font-size: 260px;
                                    font-family: 'Segoe UI Semibold', 'Segoe UI';
                                    text-decoration: none;
                                }
</style>
                            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />































































































































                            <rect x="150" y="129" width="122" height="122" fill="#F35325" />































































































































                            <rect x="284" y="129" width="122" height="122" fill="#81BC06" />































































































































                            <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />































































































































                            <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />































































































































                            <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
                         </svg>
                        </a>



                    </div>

                    <div class="text-center p-t-35 p-b-20">
                        <span class="txt4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", id = "txtValidation" })
                        </span>
                    </div>
                </form>
                <div class="login100-more" style="background-image: url('@Url.Content("~/img/check-hand-to-hand.jpg")');background-color:#000000; background-blend-mode: screen;">
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/Login/animsition.min.js")"></script>
    <script src="@Url.Content("~/js/Login/popper.js")"></script>
    <script src="@Url.Content("~/js/bootstrap2.min.js")"></script>
    <script src="@Url.Content("~/js/Login/select2.min.js")"></script>
    <script src="@Url.Content("~/js/Login/moment.min.js")"></script>
    <script src="@Url.Content("~/js/Login/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/Login/countdowntime.js")"></script>
    <script src="@Url.Content("~/js/Login/main.js")"></script>
    <script src="@Url.Content("~/js/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/js/Page JS/login.js")"></script>
</body>
</html>