﻿<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="margin-top: 6px;">
            <div class="x_title">
                <div class="md-flex" style="display:flex;justify-content:space-between">
                    <div>
                        <label style="font-size: 23px;">Aging</label> <label id="txtAsOfDate" style="margin-left:4px;font-size:20px;font-weight:500;"></label>
                    </div>
                    <div class="md-flex" style="display:flex;justify-content:flex-end;">
                        <div class="input-group" style="margin-right:15px;width:50px;">
                            <span class="input-group-btn">
                                <button id="btnSet" class="btn btn-sm btn-danger"><i class="fa fa-calendar"></i> Set as of Date</button>
                            </span>
                            <input type="text" style="padding-left:19px;height:30px;width:111px;" class="form-control has-feedback-left" id="single_cal2" aria-describedby="inputSuccess2Status2">
                        </div>
                        <button type="button" id="btnExport" style="height:30px;" downloadurl="@Url.Action("DownloadExcel","Report")" url="@Url.Action("WriteAgingToExcel", "Report")" class="btn btn-sm btn-success mt-5"><i class="fa fa-external-link"></i> Export to Excel</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtPayment" class="table jambo_table bulk_action"
                       url="@Url.Action("GetPaymentsList","SEAN")?status=UNRELEASED&status=FOR VERIFIFICATION&status=FOR APPROVAL&status=FOR RELEASING&status=UNCOLLECTED&status=ON HOLD&status=REVERSED&status=REQUESTED FOR HOLD">
                    <thead>
                        <tr>
                            <th>Entity</th>
                            <th>Voucher</th>
                            <th>Check</th>
                            <th>Payee</th>
                            <th>Date Received</th>
                            <th>No of Days</th>
                            <th>Term</th>
                            <th>Due Date</th>
                            <th>Overdue</th>
                            <th>Check Date</th>
                            <th>Amount</th>
                            <th>Current</th>
                            <th>1-30</th>
                            <th>31-60</th>
                            <th>61-90</th>
                            <th>91-120</th>
                            <th>Over 120</th>
                            <th>Amount</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    @@media only screen and (max-width: 768px) {
        .md-flex {
            flex-wrap: wrap;
            justify-content: unset !important;
        }

        #txtAsOfDate {
            margin-left: 0px !important;
        }
    }
</style>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/Page JS/aging.js")"></script>
}

