﻿<div class="page-title pb-3">
    <div class="title_left">

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="md-flex" style="display:flex;justify-content:space-between;width:100%;">
                    <div style="width:100%;">
                        <h3 style="display:inline-block;font-weight:600;">Collected Checks</h3>
                        <label id="lblDate" style="margin-left:12px;font-size:16px;font-weight:600 !important;"></label>
                    </div>
                    <div class="md-flex" style="display:flex;width:100%;justify-content:flex-end;">
                        <div style="margin-top:9px;margin-right:9px;">
                            <button type="button" id="btnExport" downloadurl="@Url.Action("DownloadExcel","Report")" url="@Url.Action("WriteReleasedToExcel", "Report")" class="btn btn-success btn-sm"><i class="fa fa-external-link"></i> Export to Excel</button>
                        </div>
                        <div class="input-group" style="margin-top:9px;width:50px;">
                            <span class="input-group-btn">
                                <button id="btnSearch" class="btn btn-sm btn-danger"><i class="fa fa-search"></i> Search</button>
                            </span>
                            <input type="text" style="width: 185px" readonly="readonly" id="dtrSearch" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy")">
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items:center;justify-content:flex-end">
                    <label style="margin-bottom:0px;font-size:15px;margin-right:7px;">Select Check Type :</label>
                    <select id="txtCheckType" style="width:170px;height:34px;font-weight:600;border-color:#c78383;color:#333333" class="form-control">
                        <option value="STANDARD">Standard Check</option>
                        <option value="MANAGER">Manager's Check</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="x_panel" style="height:auto;">
                    <div class="x_title" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <h2 style="font-weight: 600;padding-bottom: 14px;">Collected Checks Total Amount Summary &nbsp; &nbsp; &nbsp; <label id="lblTotal"></label></h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link" style="color:#010101"><label style="margin-right:10px;">View by bank and entity </label><i class="fa fa-chevron-down"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none; margin-bottom: 0px;">
                        <div class="total_summary">
                            <div class="by_entity">
                                <div class="filter-header">
                                    <label>By Entity</label>
                                </div>

                                <div class="container_item">
                                </div>
                            </div>
                            <div class="by_bank">
                                <div class="filter-header">
                                    <label>By Bank</label>
                                </div>

                                <div class="container_item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <table id="dtVoucher" class="table jambo_table bulk_action" style="margin-top:16px;" adverseurl="@Url.Action("AdverseVoucher", "SEAN")" reverseurl="@Url.Action("ReverseVoucher", "SEAN")" url="@Url.Action("GetCollectedChecks","SEAN")">
                            <thead>
                                <tr>
                                    <th>Released Date</th>
                                    <th>Vendor Code</th>
                                    <th>Company Name</th>
                                    <th>Voucher ID</th>
                                    <th>Amount</th>
                                    <th>Bank</th>
                                    <th>Entity</th>
                                    <th>Check Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @@media only screen and (max-width: 768px) {
        .md-flex {
            flex-wrap: wrap;
            justify-content: unset !important;
        }

        #lblDate {
            margin-left: 0px !important;
        }

        h2 {
            width: 100%;
        }

        .dataTables_length label {
            display: flex;
            align-items: center;
        }

        .dataTables_length select {
            width: 60px;
            margin: 0 6px;
        }

        .dataTables_filter label {
            display: flex;
            align-items: center;
        }

        .dataTables_filter input {
            width: 150px;
        }
    }
</style>


@section styles {
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
}

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/date.format.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/Page JS/collectedcheckreport.js")"></script>
}