﻿<div class="page-title pb-3">
    <div class="title_left">

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="md-div" style="display:flex;justify-content:space-between;width:100%;">
                    <div style="width:100%;">
                        <h3 style="display:inline-block;font-weight:600">Collected Checks</h3>
                        <label id="lblDate" style="margin-left:12px;font-size:16px;font-weight:600 !important;"></label>
                    </div>
                    <div class="md-div" style="display:flex;width:100%;margin-top:9px;justify-content:flex-end;">
                        <div>
                            <button id="btnToday" class="btn btn-primary btn-sm">Today's Summary</button>
                        </div>
                        <div class="input-group" style="">
                            <span class="input-group-btn">
                                <button id="btnSearch" class="btn btn-sm btn-danger"><i class="fa fa-search"></i> Search</button>
                            </span>
                            <input type="text" style="width: 180px" readonly="readonly" id="dtrSearch" class="form-control input-sm" today="@DateTime.Now.ToString("MM/dd/yyyy")" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.AddDays(1).ToString("MM/dd/yyyy")">
                        </div>
                    </div>
                </div>
                <div style="display:flex;justify-content:space-between;">
                    <div style="display:flex;align-items:center">
                        <label style="margin-bottom:0px;font-size:15px;margin-right:7px;">Select Check Type :</label>
                        <select id="txtCheckType" style="width:170px;height:34px;font-weight:600;border-color:#c78383;color:#333333" class="form-control">
                            <option value="STANDARD">Standard Check</option>
                            <option value="MANAGER">Manager's Check</option>
                            @*<option value="TELEGRAPHI">Telegraphi</option>*@
                        </select>
                    </div>
                    @if (!User.IsInRole("AUDIT"))
                    {
                        <div>
                            <form enctype="multipart/form-data" class="form-horizontal" autocomplete="off" id="frmImportExcel" novalidate>
                                <fieldset>
                                    <div class="input-group" style="margin-top:9px;margin-top:1px;">
                                        <span class="input-group-btn">
                                            <button id="btnImport" url="@Url.Action("ImportReceiptExcel","SEAN")" type="button" class="btn btn-sm btn-success"><i class="fa fa-table"></i> Import Receipt</button>
                                        </span>
                                        <input required accept=".xlsx, .xls, .xlsm" name="FileUpload" type="file" style="width: 261px;" class="form-control input-sm">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    }

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="x_panel" style="height:auto;">
                    <div class="x_title" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <h2 style="font-weight: 600;padding-bottom: 14px;">Collected Checks Total Amount Summary &nbsp; &nbsp; &nbsp; </h2>
                        <label style="margin-top:6px;" id="lblTotal"></label>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="md-collapse collapse-link" style="color:#010101"><label style="margin-right:10px;">View by bank and entity </label><i class="fa fa-chevron-down"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none; margin-bottom: 0px;">
                        <div class="total_summary">
                            <div class="by_entity">
                                <div class="filter-header">
                                    <label>By Entity</label>
                                </div>

                                <div class="container_item">
                                </div>
                            </div>
                            <div class="by_bank">
                                <div class="filter-header">
                                    <label>By Bank</label>
                                </div>

                                <div class="container_item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dtVoucher_container">
                    <div style="width:2000px;">
                        <table id="dtVoucher" class="table jambo_table bulk_action" style="margin-top:16px;" adverseurl="@Url.Action("AdverseVoucher", "SEAN")" reverseurl="@Url.Action("ReverseVoucher", "SEAN")" url="@Url.Action("GetCollectedChecks","SEAN")">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>Vendor Code</th>
                                    <th>Entity</th>
                                    <th>Bank</th>
                                    <th>Voucher ID</th>
                                    <th>Cheque No</th>
                                    <th>Cheque Date</th>
                                    <th>Check Type</th>
                                    <th>Amount</th>
                                    <th>Released Date</th>
                                    <th>Receipt Number</th>
                                    <th>Receipt Type</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:30%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Edit Record</strong></h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="txtCheckType">Check Type</label>
                    <select style="margin-top:1px;margin-bottom:9px;" type="text" id="txtCheckType" class="form-control">
                        <option value="STANDARD">Standard</option>
                        <option value="MANAGER">MANAGER</option>
                    </select>
                </div>
                <div>
                    <label style="margin-top:5px;" for="txtReceiptNo">Receipt Number</label>
                    <input style="margin-top:1px;" type="text" id="txtReceiptNo" class="form-control" />
                </div>
                <div>
                    <label for="txtReceiptType" style="margin-top:5px;">Receipt Type</label>
                    <select style="margin-top:1px;margin-bottom:9px;" type="text" id="txtReceiptType" class="form-control">
                        <option value="OR">Official Receipt</option>
                        <option value="AR">Acknowledgement Receipt</option>
                        <option value="PR">Provisionary Receipt</option>
                        <option value="CR">Collection Receipt</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" url="@Url.Action("UpdateCollectedCheck","SEAN")" id="btnSave" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTodaySummary" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Released Checks Summary (Today)</strong></h4>
            </div>
            <div class="modal-body" style="height:460px;overflow-y:auto;">
                <div class="container" id="standard_check_container">
                    <h3 class="check_title">Standard Checks</h3>
                    <table class="table table-sm dtTodaySummaryEntity">
                        <thead>
                            <tr>
                                <td style="width:30%;">Entity</td>
                                <td style="width:40%;">Bank</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="container" id="managers_check_container">
                    <h3 class="check_title">Manager's Checks</h3>
                    <table class="table table-sm dtTodaySummaryEntity">
                        <thead>
                            <tr>
                                <td style="width:30%;">Entity</td>
                                <td style="width:40%;">Bank</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="container" id="op_container">
                    <h3 class="check_title">Employees' Online Payments</h3>
                    <table class="table table-sm dtTodaySummaryOP">
                        <thead>
                            <tr>
                                <td style="width:30%;">Employee #</td>
                                <td style="width:40%;">Employee Name</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div id="gop_container">

                </div>
            </div>
            <div class="modal-footer">
                @if (!User.IsInRole("AUDIT"))
                {
                    <button type="button" id="btnVerify" class="btn btn-primary">Verify and Send Report</button>
                }

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:45% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-warning"><b>Confirmation Dialog <i class="fa fa-warning"></i></b></h4>
            </div>
            <div class="modal-body">
                <h5><b class="dialog-message">Please type 'REVERSE' in the input box as a confirmation.</b></h5>

                <div style="margin-top:15px;">
                    <input placeholder="" id="txtReverse" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAcceptReverse" class="btn btn-primary">Proceed and Reverse</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade vendor-modal" id="modalCollector" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><strong class="title">Collector Details</strong></h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="txtCompanyName">Company Name:</label>
                    <input type="text" class="form-control" id="txtCompanyName" readonly />
                </div>
                <div>
                    <label for="txtVoucherId">Released Voucher Id:</label>
                    <input type="text" class="form-control" id="txtVoucherId" readonly />
                </div>
                <div>
                    <label for="txtCollectorName">Collector Name:</label>
                    <input type="text" class="form-control" id="txtCollectorName" readonly />
                </div>
                <div>
                    <label for="txtCollectorType">Collector Type:</label>
                    <input type="text" class="form-control" id="txtCollectorType" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <style>
        #managers_check_container, #telegraphi_container {
            margin-top: 40px;
            padding-top: 26px
        }

        .check_title {
            margin-bottom: 20px;
            margin-top: 0px;
            color: #821510;
        }

        .filter_header {
            font-size: 17px;
            margin-bottom: 13px;
            font-weight: 600;
        }

        #dtVoucher_wrapper {
            margin-top: 20px;
        }

        #modalTodaySummary thead td {
            font-size: 16px;
            font-weight: 500;
            color: #ecf0f1;
        }

        #modalTodaySummary thead {
            background-color: #681511;
        }

        #modalTodaySummary .table {
            border: #b7a9a9 1px solid;
        }

        .tr_total td {
            font-size: 16px;
            font-weight: 600;
        }

        .row_action {
            width: 100px;
        }

        .row_collector {
            width: 100px;
        }

        input[type=search] {
            margin-left: 8px;
        }

        .modal-body div:not(:first-child) {
            margin-top: 18px;
        }

        #op_container {
            margin-top: 60px;
        }

        tr.selected {
            border: #530605 2px solid !important;
        }

        @@media only screen and (max-width: 768px) {
            .md-div {
                flex-wrap: wrap;
            }

                .md-div h3 {
                    width: 100vh;
                }

            #lblDate {
                margin-left: 0px !important;
            }

            .dataTables_length label {
                display: flex;
                align-items: center;
            }

            .dataTables_length select {
                width: 60px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .dataTables_filter {
                text-align: left !important;
            }

                .dataTables_filter label {
                    display: flex;
                    align-items: center;
                }

                .dataTables_filter label {
                    width: 230px;
                }

            .md-collapse {
                margin-left: -4px;
            }

            #lblTotal {
                margin-bottom: 17px;
            }
        }
    </style>


    <link href="@Url.Content("~/Content/daterangepicker.css")" rel="stylesheet" />
}

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/date.format.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/jquery.doubleScroll.js")"></script>
    
    <script src="@Url.ContentVersioned("~/js/Page JS/cc.js")"></script>
}