﻿@{
    ViewBag.Title = "DeclinedRequestsIndex";
}

<div class="page-title" style="margin-bottom:15px;">
    <div class="title_left">
        <h3>Declined Request List</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="dtDeclinedRequest" class="table table-striped jambo_table bulk_action" url="@Url.Action("GetVoucherBatchList","SEAN")">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Declined By</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewDecline" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
                <fieldset>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="md-modal-header" style="display:flex;align-content:center;">
                            <h4 class="modal-title" style="margin-right:11px;margin-top:2px;" id="myModalLabel"> <strong>Edit Request</strong></h4>
                            <div style="margin-right:12px;">
                                <div class="input-group md-ig">
                                    <span class="input-group-btn">
                                        <button style="height:31px;" type="button" id="btnUploadExcel" class="btn btn-sm btn-success">Import to Select</button>
                                    </span>
                                    <input type="file" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="modal-body">
                <div class="x_panel" style="height:auto;">
                    <div class="x_title" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <h2 style="font-weight: 600;padding-bottom: 14px;">Selected Amount Summary &nbsp; &nbsp; &nbsp; &nbsp; <label id="lblTotal"></label></h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none; margin-bottom: 0px;">
                        <div class="total_summary">
                            <div class="by_entity">
                                <div class="filter-header">
                                    <label>By Entity</label>
                                </div>

                                <div class="container_item">
                                </div>
                            </div>
                            <div class="by_bank">
                                <div class="filter-header">
                                    <label>By Bank</label>
                                </div>

                                <div class="container_item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" margin-bottom:20px !important;">
                    <table id="dtPayment" class="table jambo_table bulk_action table-sm" url="@Url.Action("GetPaymentsList","SEAN")?status=UNRELEASED&status=UNCOLLECTED">
                        <thead>
                            <tr>
                                <th class="thSelectAll"><input type="checkbox" id="cbxSelectAll" /></th>
                                <th>Entity</th>
                                <th>Vendor Code</th>
                                <th>Company Name</th>
                                <th>Bank Name</th>
                                <th>Voucher Number</th>
                                <th>Amount</th>
                                <th>Cheque Number</th>
                                <th>Cheque Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="overflow-x:auto;">
                <div class="md-modal-footer">
                    <button type="button" id="btnRequest" class="btn btn-primary"></button>
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRequest" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Request Chosen Records for Verification</strong></h4>
            </div>
            <div class="modal-body">
                <div class="container mx-5">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="releasing-date">
                                Releasing Date <span class="required">*</span>
                            </label>
                            <div class="col-auto">
                                <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left txtReleasingDate" id="single_cal2" aria-describedby="inputSuccess2Status2">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Notes
                            </label>
                            <div class="col-auto">
                                <div class="col-md-12">
                                    <textarea id="txtNotes" class="form-control" rows="3" placeholder="Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSubmitRequest" class="btnSubmit btn btn-primary">Send Request</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    #modalViewDecline .modal-dialog {
        overflow-y: initial !important;
    }

    #modalViewDecline .modal-body {
        height: 450px;
        overflow-y: auto;
    }

    thead > tr > .thSelectAll[class*="sort"]:after {
        content: "" !important;
    }

    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }

    @@media only screen and (max-width: 768px) {
        .md-modal-footer {
            display: flex;
            flex-wrap: wrap;
        }

            .md-modal-footer .btn-close {
                margin-left: 0px !important;
            }

        .md-modal-header {
            flex-wrap: wrap;
        }

        .modal-header {
            overflow-x: auto;
        }

        .md-ig {
            margin-top: 7px;
        }

            .md-ig input[type=file] {
                width: 185px;
            }
    }
</style>


@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/js/date.format.js")"></script>
    <script src="@Url.Content("~/js/Page JS/dvri.js")"></script>
}

@section script {
    $(document).ready(function () {
    openNotificationURL = "@Url.Action("OpenDeclinedVerificationRequestNotification", "SEAN")";
    getVoucherIDListFromBatchURL = "@Url.Action("GetVoucherIDListFromBatch", "SEAN")";
    requestVoucherForVerificationUrl = "@Url.Action("RequestVoucherForVerification", "SEAN")";
    updateVoucherStatusBatch = "@Url.Action("UpdateVoucherStatusBatch", "SEAN")";
    })
}

