﻿@{
    ViewBag.Title = "Employees";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Employees Module</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" style="margin-top:11px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
                    <fieldset>
                        <h2>Employee List</h2>
                        <div class="nav navbar-right panel_toolbox">
                            <div class="md-flex" style="display:flex;">
                                <div style="margin-right:12px;">
                                    <div class="input-group" style="width:50px;">
                                        <span class="input-group-btn">
                                            <button style="height:31px;" type="button" id="btnUploadExcel" class="btn btn-sm btn-success">Upload</button>
                                        </span>
                                        <input type="file" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                                    </div>
                                </div>
                                <button type="button" style="height:31px;" onclick="AddEmployee()" class="btn btn-sm btn-danger mt-5"><i class="fa fa-group"></i> Add Employee</button>

                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtEmployee" class="table jambo_table bulk_action dataTable no-footer" url="@Url.Action("GetEmployeeList","SEAN")">
                    <thead>
                        <tr>
                            <th>Employee Number</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Account #</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--- Modals -->

<form class="form-horizontal form-label-left" autocomplete="off" id="frmEmployee" url="@Url.Action("AddOrUpdateEmployee", "SEAN")" novalidate>
    <div class="modal fade vendor-modal" id="modalEmployee" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:440px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> <strong class="title"></strong></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="txtEmployeeNumber">Employee Number:</label>
                        <input type="text" class="form-control" id="txtEmployeeNumber" />
                    </div>
                    <div>
                        <label for="txtEmployeeName">Employee Name:</label>
                        <input type="text" class="form-control" id="txtEmployeeName" />
                    </div>
                    <div>
                        <label for="txtEmail">Email Address:</label>
                        <input type="text" class="form-control" id="txtEmail" />
                    </div>
                    <div>
                        <label for="txtAccountNo">Account #:</label>
                        <input type="text" class="form-control" id="txtAccountNo" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btnSubmit btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        height: 385px;
        overflow-y: auto;
    }

        .modal-body div:not(:first-child) {
            margin-top: 24px;
        }

        .modal-body label {
            font-size: 15px;
            margin-bottom: 10px;
        }

    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }

    @@media only screen and (max-width:768px) {
        .title_left {
            width: 100% !important;
        }

        .md-flex {
            flex-wrap: wrap;
        }

        #frmUploadExcel .md-flex {
            margin-top: 6px;
        }
    }
</style>

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Page JS/employee.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}

@section script {
    $(document).ready(function () {
    getCollectorListURL = "@Url.Action("GetCollectorList", "SEAN")";
    getBankListURL = "@Url.Action("GetBankList", "SEAN")";
    })

}
