﻿<div class="page-title pb-3">
    <div class="title_left">
        <h3>Checks Ready for Release</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x_panel" style="height:auto;">
                    <div class="x_title" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <h2 style="font-weight:600;padding-bottom: 14px;">For Release Amount Summary &nbsp; &nbsp; &nbsp; &nbsp;</h2><label style="margin-top:6px;" id="lblTotal"></label>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="md-collapse collapse-link" style="color:#010101"><label class="md-lbl" style="margin-right:10px;">View by bank and entity </label><i class="fa fa-chevron-down"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none; margin-bottom: 0px;">
                        <div class="total_summary">
                            <div class="by_entity">
                                <div class="filter-header">
                                    <label>By Entity</label>
                                </div>

                                <div class="container_item">
                                </div>
                            </div>
                            <div class="by_bank">
                                <div class="filter-header">
                                    <label>By Bank</label>
                                </div>

                                <div class="container_item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtVoucher" class="table jambo_table bulk_action" unholdurl="@Url.Action("UnholdVoucher","SEAN")" url="@Url.Action("GetForReleasingVoucherList","SEAN")" holdurl="@Url.Action("PutVoucherOnHold", "SEAN")">
                    <thead>
                        <tr>
                            <th class="text-center"><input type="checkbox" id="cbxSelectAll" /></th>
                            <th>Company Name</th>
                            <th>Vendor Code</th>
                            <th>Entity</th>
                            <th>Bank</th>
                            <th>Voucher ID</th>
                            <th>Cheque No</th>
                            <th>Amount</th>
                            <th>Releasing Date</th>
                            <th>SEAN CODE</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .table .btn {
        height: 24px;
        padding: 2px 8px;
        font-size: 11px;
    }

    @@media only screen and (max-width: 768px) {
        .md-lbl {
            margin-top: 5px;
            margin-left: -4px;
        }

        .dataTables_length > label {
            display: flex;
            align-items: center;
        }

        .dataTables_filter > label {
            display: flex;
            align-items: center;
        }

        .dataTables_filter {
            width: 100% !important;
        }

            .dataTables_filter > .form-control {
                width: 50%;
            }

        .dataTables_length select {
            width: 65px;
            margin-right: 5px;
            margin-left: 5px;
        }

        .title_left {
            width: 100% !important;
        }

        #lblTotal {
            margin-bottom: 15px;
        }
    }
</style>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/date.format.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/js/Page JS/fri.js")"></script>
}