﻿<div class="page-title pb-3">
    <div class="title_left">

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Put Voucher on hold</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtPayment" class="table jambo_table bulk_action"
                       url="@Url.Action("GetVoucherListWithHoldRequest","SEAN")" accepturl="@Url.Action("PutVoucherOnHold","SEAN")"
                       declineurl="@Url.Action("DeclineHoldRequest","SEAN")" prevstatusurl="@Url.Action("SeePreviousStatusBeforeHold", "SEAN")"
                       unholdurl="@Url.Action("UnholdVoucher","SEAN")" declineholdurl="@Url.Action("DeclineHoldRequest","SEAN")"
                       declineunholdurl="@Url.Action("DeclineUnholdRequest","SEAN")">
                    <thead>
                        <tr>
                            <th>Date Area</th>
                            <th>Vendor Code</th>
                            <th>Voucher Number</th>
                            <th>Amount</th>
                            <th>Request Date</th>
                            <th>Requested By</th>
                            <th>Note</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDialog" data-backdrop="static" requesturl="@Url.Action("RequestVoucherOnHold","SEAN")" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:45% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-warning"><b>Confirmation Dialog <i class="fa fa-warning"></i></b></h4>
            </div>
            <div class="modal-body">
                <h5><b class="dialog-message">Are you sure that you want to hold the voucher status?</b></h5>

                <div style="margin-top:15px;">
                    <textarea placeholder="You may leave a note here.." id="txtNotes" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnRequest" class="btn btn-primary">Proceed and Request</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .row_action {
        width: 80px;
    }
</style>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/Scripts/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Page JS/HoldRequests.js")"></script>
}

@section script {
    $(document).ready(function () {
    requestVoucherForVerificationUrl = "@Url.Action("RequestVoucherForVerification", "SEAN")";
    currentDate = new Date('@DateTime.Now.ToString("MM/dd/yyyy")')
    })
}

