﻿@{
    ViewBag.Title = "Payments";
}

<style>
    #collected-check-details {
        display: flex;
        justify-content: space-around;
        border: solid 1px #bb5252;
        padding: 10px 0px 4px;
        margin-bottom: 8px;
        font-size: 14px;
    }

        #collected-check-details .text-underline {
            text-decoration: underline;
        }
</style>

<div class="page-title pb-3">
    <div class="title_left">
        <h3>
            Payments
        </h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div style="margin-top:10px;">
                    @if (!User.IsInRole("AUDIT"))
                    {
                        <div style="display:flex;justify-content:space-between;flex-wrap:wrap;">
                            <div style="display:flex;flex-wrap:wrap;">
                                <div class="input-group" style="width:110px;">
                                    <span class="input-group-btn">
                                        <button id="btnIntegrate" class="btn btn-sm btn-success"><i class="fa fa-windows"></i> D365 Sync</button>
                                    </span>
                                    <input type="text" style="width: 200px" readonly="readonly" id="dtrIntegrate" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy") - @DateTime.Now.ToString("MM/dd/yyyy")">
                                </div>
                                <div>
                                    <label id="btnViewLog">View Logs</label>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-danger float-right" data-toggle="modal" data-target=".import-excel-file-modal" style="float:right !important"><i class="fa fa-table"></i> Import Excel File</button>
                            </div>
                        </div>
                    }

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtPayment" class="table jambo_table bulk_action" initStatus="@{@ViewContext.RouteData.Values["status"]}" url="@Url.Action("GetViewData","SEAN")">
                    <thead>
                        <tr>
                            <th>Vendor Code</th>
                            <th>Company Name</th>
                            <th>Bank Name</th>
                            <th>Data Area</th>
                            <th>Voucher Number</th>
                            <th>Amount</th>
                            <th>Method of Payment</th>
                            <th>Cheque Number</th>
                            <th>Cheque Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form enctype="multipart/form-data" class="form-horizontal" method="post" autocomplete="off" id="frmImportExcel" novalidate>
    <fieldset>
        <div class="modal fade import-excel-file-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"> <strong>Import Excel File</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="container mx-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row justify-content-center">
                                        <div class="col-md-5">
                                            <select id="cboExcelFileType" class="form-control" required>
                                                <option value="" disabled selected>Select Excel File Type</option>
                                                <option value="PAYMENT">Payments Table</option>
                                                <option value="CHECK">Checks Table</option>
                                            </select>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="file" accept=".xlsx, .xls, .xlsm" class="form-control" id="excelFile" placeholder="Excel File" name="FileUpload" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnImportExcel" class="btnSubmit btn btn-primary">Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="modal fade" id="mdlViewLog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:70%;left:50%;margin-left:-35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong class="title">D365 Payments Synchronization Logs</strong></h4>
            </div>
            <div class="modal-body" style="height:330px; overflow-y:auto;">
                <table id="dtLogs" class="table jambo_table bulk_action" url="@Url.Action("GetSystemLogsList","System")">
                    <thead>
                        <tr>
                            <th class="text-center">Date/Time</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlViewVoucher" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:70%;left:50%;margin-left:-35%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong class="title">View Voucher's Info and Previous Statuses</strong></h4>
            </div>
            <div class="modal-body" style="height:400px; overflow-y:auto;">
                <div class="voucher_details">
                    <div>
                        <div class="voucher_details_row" style="display:flex;flex-direction:column;">
                            <div>
                                <label class="fields_container">Voucher ID: </label>
                                <label class="data_container voucherId"></label>
                            </div>
                            <div>
                                <label class="fields_container">Amount: </label>
                                <label class="data_container amount"></label>
                            </div>
                            <div>
                                <label class="fields_container">Bank: </label>
                                <label class="data_container bank"></label>
                            </div>
                            <div>
                                <label class="fields_container">Entity: </label>
                                <label class="data_container entity"></label>
                            </div>
                            <div>
                                <label class="fields_container">Method of Payment: </label>
                                <label class="data_container method"></label>
                            </div>
                        </div>

                        <div class="voucher_details_row" style="display:flex;flex-direction:column;">
                            <div>
                                <label class="fields_container">Check Date: </label>
                                <label class="data_container checkDate"></label>
                            </div>
                            <div>
                                <label class="fields_container">Check Number: </label>
                                <label class="data_container checkNumber"></label>
                            </div>
                            <div>
                                <label class="fields_container">Vendor Code: </label>
                                <label class="data_container vendorCode"></label>
                            </div>
                            <div>
                                <label class="fields_container">Company Name:</label>
                                <label class="data_container companyName"></label>
                            </div>
                            <div>
                                <label class="fields_container">Source: </label>
                                <label class="data_container source"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="font-size:18px;margin-bottom:10px;">
                    <label>Current Status :</label> <label style="text-transform:capitalize;" class="status"></label>
                </div>

                <div id="collected-check-details">
                    <div>
                        <label><span class="text-underline">Released Date</span>: <span class="releasedDate"></span></label>
                    </div>

                    <div>
                        <label><span class="text-underline">Check Type</span>: <span class="checkType"></span></label>
                    </div>

                    <div>
                        <label><span class="text-underline">Receipt Type</span>: <span class="receiptType"></span></label>
                    </div>

                    <div>
                        <label><span class="text-underline">Receipt No</span>: <span class="receiptNo"></span></label>
                    </div>
                </div>

                <table id="dtStatusLogs" class="table jambo_table" url="@Url.Action("GetSystemLogsList","System")">
                    <thead>
                        <tr>
                            <th class="text-center">Date/Time</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<style>
    #btnViewLog {
        margin-top: 3px;
        margin-left: 20px;
        font-size: 14px;
        font-weight: 700;
        border-bottom: #681511 solid 2px;
        cursor: pointer;
        color: #681511;
    }

    .voucher_details > div {
        border: #ccc 1px solid;
        padding: 15px;
    }


    .voucher_details {
        margin-bottom: 21px;
        margin-top: 12px;
        font-size: 13.5px;
    }

    .data_container {
        text-decoration: underline;
        width: 230px;
    }

    .voucher_details_row div:not(:first-child) {
        margin-top: 5px;
    }

    .fields_container {
        width: 175px;
    }

    .voucher_details_row {
        width: 50%;
    }


    .voucher_details > div {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .voucher_details_row > div {
        display: flex;
    }

    #mdlViewLog .dataTables_filter {
        display: none;
    }

    #dtPayment .row_data td:not(:empty):not(.td_status):hover {
        text-decoration: underline;
        cursor: pointer;
    }

    #dtPayment span.status:hover {
        cursor: unset !important;
    }
</style>

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/js/Page JS/payment.js")"></script>
}

@section script {
    $(document).ready(function () {
    requestVoucherForApprovalUrl = "@Url.Action("RequestVoucherForApproval", "SEAN")";
    importPaymentExcelUrl = "@Url.Action("ImportPaymentExcel", "SEAN")";
    importCheckExcelUrl = "@Url.Action("InsertCheckDetailsExcel", "SEAN")";
    integratePaymentD365Url = "@Url.Action("IntegratePaymentD365", "SEAN")";
    insertCheckDetailsUrl =  "@Url.Action("InsertCheckDetailsExcel", "SEAN")";
    })

}