﻿@{
    ViewBag.Title = "Payments";
}

<div class="clearfix"></div>
<div class="page-title">
    <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
        <fieldset>
            <div class="md-flex" style="width:100%; display:flex; justify-content:space-between">
                <div style="width:100%;">
                    <label class="md-title" style="font-size: 23px;">Request Voucher for Verification</label>
                </div>
                <div class="md-flex" style="width:100%;display:flex;">
                    <div style="margin-right:12px;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button style="height:31px;" type="button" id="btnUploadExcel" class="btn btn-sm btn-success">Import to Select</button>
                            </span>
                            <input type="file" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                        </div>
                    </div>
                    <div>
                        <button type="button" style="height:31px;" id="btnRequest" class="btn btn-sm btn-danger mt-5"><i class="fa fa-external-link"></i> Request</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="clearfix"></div>
<div class="md-row row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x_panel" style="height:auto;">
                    <div class="x_title" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <h2 style="font-weight: 600;padding-bottom: 14px;">Selected Amount Summary &nbsp; &nbsp;</h2><label style="margin-right:40px;margin-left:10px;display:none;border-bottom:black solid 1px;padding-bottom:3px;" id="lblTotal"></label>
                        <label class="md-btn" id="btnViewSelected" style="padding-top:9px;text-decoration:underline;cursor:pointer;color:#681511">View Selected</label>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none; margin-bottom: 0px;">
                        <div class="total_summary">
                            <div class="by_entity">
                                <div class="filter-header">
                                    <label>By Entity</label>
                                </div>
                                <div class="container_item">
                                </div>
                            </div>
                            <div class="by_bank">
                                <div class="filter-header">
                                    <label>By Bank</label>
                                </div>

                                <div class="container_item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtPayment" class="table jambo_table bulk_action" markurl="@Url.Action("MarkVouchersAsReleased","SEAN")" url="@Url.Action("GetPaymentsList","SEAN")?status=UNRELEASED&status=UNCOLLECTED&status=REQUESTED FOR HOLD">
                    <thead>
                        <tr>
                            <th class="text-center"><input type="checkbox" id="cbxSelectAll" /></th>
                            <th>Date Area</th>
                            <th>Vendor Code</th>
                            <th>Company Name</th>
                            <th>Bank Name</th>
                            <th>Voucher Number</th>
                            <th>Amount</th>
                            <th>Method of Payment</th>
                            <th>Cheque Number</th>
                            <th>Cheque Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRequest" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Request Chosen Records for Verification</strong></h4>
            </div>
            <div class="modal-body">
                <div class="container mx-5">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="releasing-date">
                                Releasing Date <span class="required">*</span>
                            </label>
                            <div class="col-auto">
                                <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left txtReleasingDate" id="single_cal2" aria-describedby="inputSuccess2Status2">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Notes
                            </label>
                            <div class="col-auto">
                                <div class="col-md-12">
                                    <textarea id="txtNotes" class="form-control" rows="3" placeholder="Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSubmitRequest" class="btnSubmit btn btn-primary">Send Request</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlReleaseDate" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:360px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong class="title">Please set the Release Date</strong></h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="txtEmployeeNumber">Release Date:</label>
                    <input type="date" class="form-control" id="dtReleaseDate" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btnRelease btn btn-primary">Mark as Release</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRelease" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div style="width:1100px;" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <h4 class="modal-title" id="myModalLabel"> <strong class="title">Release Selected Vouchers</strong></h4>
                    </div>
                    <div style="display:flex;">
                        <div style="display:flex;">
                            <label style="width:105px;font-size:15px;margin-top:5px;">Release Date : </label>
                            <div class="col-md-12 xdisplay_inputx form-group has-feedback" style="width:210px;margin-bottom:0px;">
                                <input type="text" style="width:190px;" class="form-control has-feedback-left txtReleasingDate" id="dtRelease" aria-describedby="inputSuccess2Status2">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                            </div>
                        </div>

                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="height:450px;overflow-y:auto;">
                <div class="container_collector_details" style="border-bottom:#ccc solid 1px;padding-bottom:30px;">
                    <h4 style="margin-top:3px;margin-bottom:17px;font-weight:600;">Collector's Details</h4>
                    <div style="display:flex; justify-content:space-around">
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorName">Collector Name:</label>
                            <input class="form-control" type="text" id="txtCollectorName" />
                        </div>
                        <div style="flex:auto;padding-right:30px;">
                            <label for="txtCollectorType">Collector Type:</label>
                            <select class="form-control" id="txtCollectorType">
                                <option value="AUTHORIZED">Authorized Collector</option>
                                <option value="THIRD PARTY">Third Party Collector</option>
                            </select>
                        </div>
                        <div style="display:none;flex:auto;">
                            <label for="txtThirdPartyCompany">Third Party Company:</label>
                            <input class="form-control" type="text" id="txtThirdPartyCompany" />
                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-top:20px !important; margin-bottom:20px !important;">
                    <table id="dtVoucher" class="table jambo_table bulk_action" url="@Url.Action("GetForReleasingVoucherList","SEAN")">
                        <thead>
                            <tr>
                                <th>Entity</th>
                                <th>Bank</th>
                                <th>Voucher Number</th>
                                <th>Amount</th>
                                <th>Check Number</th>
                                <th>Check Date</th>
                                <th>Type</th>
                                <th>Receipt Number</th>
                                <th>Receipt Type</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnReleaseSelected" class="btn btn-primary">Release</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewSelected" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>Selected Vouchers</strong></h4>
            </div>
            <div class="modal-body" style="overflow-y:auto;height:460px;">
                <div class="col-12" style="margin-top:7px !important; margin-bottom:20px !important;">
                    <table id="dtSelectedPayment" class="table jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>Date Area</th>
                                <th>Vendor Code</th>
                                <th>Company Name</th>
                                <th>Bank Name</th>
                                <th>Voucher Number</th>
                                <th>Amount</th>
                                <th>Method of Payment</th>
                                <th>Cheque Number</th>
                                <th>Cheque Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnExport" class="btn btn-success">Export to Excel</button>
            </div>
        </div>
    </div>
</div>

<style>
    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }

    @@media only screen and (max-width: 768px) {
        .md-row {
            margin-top: 110px;
        }

        .md-flex {
            flex-wrap: wrap;
        }

        .md-title {
            margin-bottom: 10px;
        }

        .md-btn {
            margin-left: 0px !important;
        }

        h2 {
            width: 100% !important;
        }
    }
</style>


@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/js/Page JS/rvfvi.js")"></script>
}

@section script {
    $(document).ready(function () {
    requestVoucherForVerificationUrl = "@Url.Action("RequestVoucherForVerification", "SEAN")";
    currentDate = new Date('@DateTime.Now.ToString("MM/dd/yyyy")')
    })
}