﻿@{
    ViewBag.Title = "Vendors";
}

<div class="page-title pb-3">
    <div class="title_left">
        <h3>Vendors Module</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <form enctype="multipart/form-data" method="post" id="frmUploadExcel">
                    <fieldset>
                        <h2>Vendor List</h2>
                        <div class="nav navbar-right panel_toolbox">
                            <div class="md-flex" style="display:flex;">
                                <div class="input-group" style="margin-right:6px;width:50px;">
                                    <span class="input-group-btn">
                                        <button style="height:31px;" type="button" id="btnUploadExcel" class="btn btn-sm btn-primary">Upload</button>
                                    </span>
                                    <input type="file" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                                </div>
                                <button type="button" style="height:31px;" url="@Url.Action("IntegrateVendorsD365", "SEAN")" class="btn btn-sm btnIntegrate btn-success mt-5"><i class="fa fa-windows"></i> Sync w/ D365</button>
                                <button type="button" style="height:31px;" onclick="AddVendor()" class="btn btn-sm btn-danger mt-5"><i class="fa fa-group"></i> Add Vendor</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form enctype="multipart/form-data" method="post" id="frmUploadExcel2">
                    <fieldset>
                        <div style="display:flex;justify-content:flex-end;">
                            <div class="input-group" style="margin-right:6px;width:50px;">
                                <span class="input-group-btn">
                                    <button style="height:31px;" type="button" id="btnUploadExcel2" class="btn btn-sm btn-success">Upload Banks</button>
                                </span>
                                <input type="file" name="FileUpload" required accept=".xlsx, .xls, .xlsm" class="input-sm">
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dtVendor" class="table jambo_table bulk_action dataTable no-footer" cancelmergeurl="@Url.Action("CancelMerge", "SEAN")"
                       mergeurl="@Url.Action("MergeVendor","SEAN")" url="@Url.Action("GetVendorList","SEAN")">
                    <thead>
                        <tr>
                            <th class="text-center"><input type="checkbox" id="cbxSelectAll" /></th>
                            <th>Entity</th>
                            <th>Vendor Code</th>
                            <th>Company Name</th>
                            <th>Company Email</th>
                            <th>Contact No.</th>
                            <th>Company Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--- Modals -->

<form class="form-horizontal form-label-left" autocomplete="off" id="frmVendor" url="@Url.Action("AddOrUpdateVendor", "SEAN")" novalidate>

    <div class="modal fade vendor-modal" id="modalVendor" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> <strong class="title"></strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><strong>Vendor details</strong></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div class="divVendorDetails">
                                        <fieldset>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtVendorCode">
                                                    Vendor Code <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="txtVendorCode" class="form-control col-md-7 col-xs-12" name="vendorCode" required="required" type="text">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtCompanyName">
                                                    Company Name <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" id="txtCompanyName" name="companyName" required="required" data-validate-length-range="3,200" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtTinNumber">
                                                    Tin Number
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="tel" id="txtTinNumber" name="tinNumber" data-validate-length-range="3,100" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtCompanyEmail">
                                                    Company Email
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="email" id="txtCompanyEmail" name="companyEmail" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtContactNumber">
                                                    Contact Number
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="tel" id="txtContactNumber" name="contactNumber" data-validate-length-range="3,100" class="form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtCompanyAddress">
                                                    Company Address
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="txtCompanyAddress" type="text" name="companyAddress" data-validate-length-range="3,200" class="optional form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>

                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtCompanyAddress">
                                                    Type
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="txtType" type="text" name="txtType" data-validate-length-range="3,200" class="optional form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>

                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEntities">
                                                    Entities
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="entity-multiple" name="entities[]" multiple="multiple">
                                                        <option value="SPCI">SPCI</option>
                                                        <option value="WBHI">WBHI</option>
                                                        <option value="SPAV">SPAV</option>
                                                        <option value="NAF">NAF</option>
                                                        <option value="SIL">SIL</option>
                                                        <option value="DBE">DBE</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtSegment">
                                                    Segment
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control col-md-7 col-xs-12" id="txtSegment">
                                                        <option value="" selected>Please select segment</option>
                                                        <option value="Ads & Promo">Ads & Promo</option>
                                                        <option value="Audit, Legal & Other Fees">Audit, Legal & Other Fees</option>
                                                        <option value="CAPEX">CAPEX</option>
                                                        <option value="Freight, Storage & Distribution">Freight, Storage & Distribution</option>
                                                        <option value="Gas Expenses">Gas Expenses</option>
                                                        <option value="GKU">GKU</option>
                                                        <option value="Imported">Imported</option>
                                                        <option value="Insurance">Insurance</option>
                                                        <option value="Other Emp Benefits">Other Emp Benefits</option>
                                                        <option value="Other Expenses">Other Expenses</option>
                                                        <option value="Outside Services-Manpower">Outside Services-Manpower</option>
                                                        <option value="Raw Materials">Raw Materials</option>
                                                        <option value="Rent"> Rent</option>
                                                        <option value="Repairs and Maintenance">Repairs and Maintenance</option>
                                                        <option value="Utilities"> Utilities</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtSubsegment">
                                                    Sub-Segment
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input id="txtSubsegment" type="text" name="subSegment" class="optional form-control col-md-7 col-xs-12">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><strong>Bank/s Details</strong></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="" id="btnAddBank" style="color:#017A5B !important;"><i class="fa fa-plus-square"></i> Add Another Bank</a>
                                        </li>
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div id="divBank">
                                        <div class="divBank divBank1">
                                            <fieldset>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtBankCompany">
                                                        1. Bank Company
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="txtBankCompany" name="bankCompany" class="txtBankCompany form-control col-md-7 col-xs-12" data-validate-length-range="3,100" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtBankAccount">
                                                        Bank Account
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="txtBankAccount" name="bankCompany" data-validate-length-range="3,200" class="txtBankAccount form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtBankBranch">
                                                        Bank Branch
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="tel" id="txtBankBranch" name="bankBranch" data-validate-length-range="3,100" class="txtBankBranch form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtBankBranch">
                                                        Account Name
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="txtAccountName" name="accountName" data-validate-length-range="3,100" class="txtAccountName form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2><strong>Collector/s Details</strong> <small>(maximum of three)</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="" id="btnAddCollector" style="color:#017A5B !important;"><i class="fa fa-plus-square"></i> Add Another Collector</a>
                                        </li>
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <div id="divCollector">
                                        <div class="divCollector divCollector1">
                                            <fieldset>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtCollectorName">
                                                        1. Collector Name
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="txtCollectorName" name="collectorName" class="txtCollectorName form-control col-md-7 col-xs-12" data-validate-length-range="3,100" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtPosition">
                                                        Position
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="txtPosition" name="position" data-validate-length-range="3,200" class="txtPosition form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtEmailAddress">
                                                        Email Address
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="tel" id="txtEmailAddress" name="email" data-validate-length-range="3,100" class="txtEmailAddress form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtCollectorContactNumber">
                                                        Contact Number
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="tel" id="txtCollectorContactNumber" name="contactNumber" data-validate-length-range="3,100" class="txtCollectorContactNumber form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btnSubmit btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</form>

<style>
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        height: 450px;
        overflow-y: auto;
    }

    .row_action {
        width: 80px;
    }

    .select-checkbox {
        width: 12px;
    }

    input[type=file] {
        border: #8a8484 1px solid;
        padding-bottom: 24px !important;
        border-radius: 0px;
        border-left: white 0px solid;
    }

    @@media only screen and (max-width:768px) {
        .title_left {
            width: 100% !important;
        }

        .md-flex {
            flex-wrap: wrap;
        }

        #frmUploadExcel .md-flex {
            margin-top: 6px;
        }
    }
</style>

@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Page JS/vendor.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
}

@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />

    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
}

@section script {
    $(document).ready(function () {
    getCollectorListURL = "@Url.Action("GetCollectorList", "SEAN")";
    getBankListURL = "@Url.Action("GetBankList", "SEAN")";
    })

}
