﻿<div class="page-title" style="margin-bottom:15px;">
    <div class="title_left">
        <h3>Verification Requests List</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="dtRequest" class="table table-striped jambo_table bulk_action" url="@Url.Action("GetVoucherBatchList","SEAN")">
                    <thead>
                        <tr>
                            <th>Date and Time of Request</th>
                            <th>Requested By</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalViewRequest" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> <strong>View Verification Request</strong></h4>
            </div>
            <div class="modal-body">
                <div class="x_panel" style="height:auto;">
                    <div class="x_title" style="padding-bottom: 0px; margin-bottom: 0px;">
                        <h2 style="font-weight: 600;padding-bottom: 14px;">Requested Total Amount Summary &nbsp; &nbsp; &nbsp; &nbsp; <label id="lblTotal"></label></h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link" style="color:#010101"><label style="margin-right:10px;">View by bank and entity </label><i class="fa fa-chevron-down"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="display: none; margin-bottom: 0px;">
                        <div class="total_summary">
                            <div class="by_entity">
                                <div class="filter-header">
                                    <label>By Entity</label>
                                </div>

                                <div class="container_item">
                                </div>
                            </div>
                            <div class="by_bank">
                                <div class="filter-header">
                                    <label>By Bank</label>
                                </div>

                                <div class="container_item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-top:20px !important; margin-bottom:20px !important;">
                    <table id="dtVoucher" class="table jambo_table bulk_action" url="@Url.Action("GetVoucherListByBatchId","SEAN")">
                        <thead>
                            <tr>
                                <th>Vendor Code</th>
                                <th>Company Name</th>
                                <th>Entity</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>Releasing Date</th>
                            </tr>
                        </thead>

                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAccept" class="btn btn-primary">Accept</button>
                <button type="button" id="btnDecline" class="btnSubmit btn btn-danger">Decline</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:45% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-warning"><b>Confirmation Dialog <i class="fa fa-warning"></i></b></h4>
            </div>
            <div class="modal-body">
                <h5><b class="dialog-message"></b></h5>

                <div style="margin-top:15px;">
                    <textarea placeholder="You may leave a note here.." id="txtNotes" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAcceptDeclineRequest" class="btn btn-primary">Proceed and Accept Request</button>
                <button type="button" class="btn btn-default" function="ACCEPT" id="btnClose">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    #modalViewRequest .modal-dialog {
        overflow-y: initial !important;
    }

    #modalViewRequest .modal-body {
        height: 450px;
        overflow-y: auto;
    }
</style>


@section styles {
    <link href="~/css/datatable.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
}


@section scripts_source {
    <script src="@Url.Content("~/js/datatable.js")"></script>
    <script src="@Url.Content("~/js/Gentelella Template/validator.js")"></script>
    <script src="@Url.Content("~/js/moment.min.js")"></script>
    <script src="@Url.Content("~/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/js/jquery.contextMenu.js")"></script>
    <script src="@Url.Content("~/js/date.format.js")"></script>
    <script src="@Url.Content("~/js/Page JS/vri.js")"></script>
}

@section script {
    $(document).ready(function () {
    acceptVerificationRequestURL = "@Url.Action("AcceptVerificationRequest", "SEAN")";
    acceptApprovalRequestURL = "@Url.Action("AcceptApprovalRequest", "SEAN")";
    declineVerificationRequestURL = "@Url.Action("DeclineRequest", "SEAN")";
    isTreasuryManagerOnLeaveURL = "@Url.Action("IsTreasuryManagerOnLeave", "SEAN")";
    })
}